@use "backend" as *;

/* PRIVATE CALL */
#{c(call wrapper)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.8));
  &#{c(call minimum)} {
    background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.8));
  }
}
#{c(call container)} {
  background-color: transparent;
}

// VIDEO STREAM
#{c(call tileChildBackground)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.7));
}
#{c(other cv callInviteButton)} {
  background-color: cv('colors.main');
  &:hover {
    background-color: cv('colors.hover');
  }
}
#{c(call tileChildFlex)} {
  background-color: transparent;
}
#{c(stage participantsButton)} {
  background-color: rgba(0, 0, 0, 0.4);
  &:hover {
    background-color: rgba(0, 0, 0, 0.6);
  }
}
#{c(call videoBorder)} {
  &#{c(call videoSpeaking)} {
    box-shadow: inset 0 0 0 2px cv('colors.main');
  }
}

// WATCH STREAM
#{c(call watchStreamButton)},
#{c(call tileStatus)}#{c(other cv myScreenControlOptions)} {
  background-color: cv('colors.main');
  &:hover {
    background-color: cv('colors.hover');
  }
}

#{c(call tileOverlayTitle)} {
  background: cv('colors.main');
  border-radius: 100px;
  &:hover {
    background: cv('colors.hover');
  }
}

#{c(other cv streamStillRunning)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.7));
}

// ACTION BUTTON
#{c(button button)}#{c(call centerButton)} {
  border-radius: 50%;
}
#{c(call colorable)} {
  &#{c(call primaryDark)} {
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    &:hover {
      background-color: cv('colors.hover');
      color: #fff;
    }
  }
  &#{c(call white)} {
    color: #fff;
    background-color: cv('colors.main');
    &:hover {
      background-color: cv('colors.hover');
    }
    &#{c(stage active)} {
      background-color: cv('colors.hover');
      &:hover {
        background-color: cv('colors.hover');
      }
    }
    #{c(call centerButtonIcon)} {
      color: #fff;
      &#{c(stage active)} {
        color: cv('colors.main');
      }
    }
  }
  &#{c(call red)} {
    background-color: var(--danger-color);
  }
}


// TEXT CHAT
#{c(call channelChatWrapper)} {
  background: transparent;
}