@use "backend" as *;

/* CHAT */
#{c(main base)} {
  #{c(chat chat)} {
    background: transparent;
  }
  #{c(membersPage page)} {
    background: transparent !important;
  }
}
#{c(chat chatContentInner)},
#{c(threads resizeHandle)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.5));
}
#{c(chat chat)} {
  // CONTENT
  #{c(chat chatContent)} {
    background: transparent;
    &:before {
      box-shadow: none;
    }
  }
}

// GATED CHANNEL
#{c(chat chatContent)} > #{c(other cv scrollerWrap)} {
  background: rgba(0, 0, 0, 0.5);
}
#{c(chat chatGatedContent)} {
  #{c(chat chatGatedImage)} {
    filter: hue-rotate(-47deg) saturate(2);
    opacity: 0.5;
  }
  #{c(chat chatGatedTitle)} {
    color: cv('colors.danger');
    font-weight: 600;
    text-shadow: 0 0 3px #000;
  }
  #{c(chat chatGatedDescription)} {
    color: hsla(0, 0%, 100%, 0.7);
  }
}

// EMPTY CHANNEL
#{c(chat emptyChannelIcon)} {
  background-color: cv('colors.main');
}
#{c(chat allowedRole2)} {
  background: transparent;
  #{c(chat allowedRoleColor)} {
    position: absolute;
    height: 100%;
    width: 100%;
    margin: 0;
    right: -1px;
    border-radius: 3px;
    z-index: -1;
    opacity: 0.2;
  }
  &:hover {
    background-color: transparent;
    #{c(chat allowedRoleColor)} {
      opacity: 0.3;
    }
  }
}

// NO CHANNEL
#{c(main base)} {
  #{c(chat noChannel)} {
    background: rgba(0, 0, 0, 0.5);
  }
}
#{c(chat noChannel)} {
  #{c(friends emptyImage)} {
    filter: grayscale(1) brightness(2);
    opacity: 0.3;
  }
  #{c(friends emptyTitle)} {
    color: hsla(0, 0%, 100%, 0.5);
  }
  #{c(friends emptyText)} {
    color: hsla(0, 0%, 100%, 0.3);
  }
}

// CHAT LOADING
#{c(chat chatLoadingWrapper)},
#{c(chat messageLoadingWrapper)} {
  background-color: transparent;
}

// UPLOAD DROP MODAL
#{c(modals upload drop modalIn)} {
  #{c(modals upload drop modal)} {
    #{c(modals upload drop bgScale)} {
      background-color: cv('colors.main');
    }
    #{c(modals upload inner)} {
      border: 2px dashed hsla(0, 0%, 100%, 0.5);
    }
  }
}

// REPLY MENTION TOGGLE
div[aria-checked='true'] #{c(chatForm mentionButton)} {
  color: cv('colors.main') !important;
}

// THREAD
#{c(threads newThreadContainer)} {
  background-color: transparent;
}
#{c(threads iconWrapper)} {
  background-color: cv('colors.main');
  svg path {
    fill: #fff;
  }
}
