@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* MOD VIEW */
#{c(other cv modView)} #{c(main dark)} {
  // HEADER
  #{c(other cv modViewHeader)} {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
  #{c(other cv modViewHeaderTop)},
  #{c(other cv modViewHeaderBottomAction)} {
    background-color: transparent !important;
  }
  #{c(other cv modViewHeaderBottomAction)} {
    &:not(#{c(other cv modViewHeaderBottomActionDisabled)}) {
      #{c(other cv modViewHeaderBottomActionInner)} {
        background-color: hsla(0, 0%, 100%, 0.05);
      }
    }
  }

  // BODY
  #{c(other cv modViewBody)} {
    background-color: hsla(0, 0%, 0%, 0.4) !important;
  }
  #{c(other cv modViewBodyHeader)} {
    background-color: transparent !important;
    box-shadow: none;
  }
  #{c(other cv modViewBodyItem)} {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
  #{c(other cv modViewBodyAction)} {
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.05);
    }
  }
  #{c(other cv modViewPermissionChiplet)} {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  #{c(other cv modViewElevatedPermissionChiplet)} {
    background-color: hsla(0, 0%, 100%, 0.07);
    color: var(--danger-color) !important;
  }

  // SERVER ACTIVITY
  #{c(other cv modViewActivity)} {
    li > div {
      background-color: hsla(0, 0%, 0%, 0.4) !important;
    }
  }

  // MOD PERMISSIONS
  #{c(other cv modViewPermissionItem)} {
    background-color: hsla(0, 0%, 0%, 0.4);
    &#{c(other cv modViewElevatedPermissionItem)} {
      background-color: hsla(0, 0%, 0%, 0.6);
      border: 1px solid hsla(0, 0%, 100%, 0.05);
    }
  }
}
