@use "backend" as *;

/* STAGE CALL */

// POPOUT
#{c(other cv stageIconBackground)} {
  background-color: cv('colors.main');
}

// STAGE
#{c(stage container)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.5));
}
#{c(stage callContainer)},
#{c(stage scroller)} {
  background-color: transparent;
}
#{c(stage gradientContainer)} {
  background-image: none;
}
#{c(other cv stageSeparator)} {
  background-color: cv('colors.main');
}
#{c(stage controlsParticipants)} {
  background-color: transparent;
}
#{c(stage rowContainer)} {
  background: transparent;
}
#{c(stage tileContainer)} {
  background-color: hsla(0, 0%, 0%, 0.4);
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
}
#{c(other cv stageMessageToast)} {
  #{c(other cv stageMessageToastWrapper)} {
    background-color: hsla(0, 0%, 0%, 0.8);
    &:hover {
      background-color: hsla(0, 0%, 0%, 0.6);
    }
  }
}

// THE AUDIENCE CONTAINER IN VC CHANNELS
#{c(sidebar server channel voice user)} {
  padding-top: 4px;
}
#{c(sidebar server channel voice overlap)} {
  #{c(sidebar server channel voice avatar)} {
    border: none;
  }
}
#{c(stage audienceContainer)} {
  background-color: hsla(0, 0%, 0%, 0.8);
  border: hsla(0, 0%, 0%, 0.8);
  #{c(stage audienceVoiceIconContainer)} {
    background: cv('colors.main');
  }
  #{c(stage audienceIcon)} {
    color: #fff;
  }
  // #{c(other cv textSmallMedium)} {
  //   color: rgba(255, 255, 255, 0.9) !important;
  // }
}
#{c(stage openStageContainer)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.3));
  &:hover {
    background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.6));
  }
}
#{c(stage leaveStageButton)} {
  background: cv('colors.main');
  &:hover {
    background: cv('colors.hover');
  }
}

// ICON WHEN HOVERING SERVER
#{c(tooltips stageListenerPill)} {
  background: cv('colors.main');
  // #{c(other cv textExtraSmallNormal)} {
  //   color: #fff !important;
  // }
  > svg {
    color: #fff;
  }
}

// STARTING A STAGE CALL
#{c(other cv stageTopicForm)} {
  #{c(other cv input)} {
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 0 2px cv('colors.main');
  }
  #{c(other cv stageTopicInput)} {
    background: transparent;
  }
}

// REQUESTS
#{c(stage requestToSpeakContainer)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.6));
}
#{c(other cv stageIconBigBackground)} {
  background-color: cv('colors.main');
  #{c(other cv stageIconBigForeground)} {
    color: #fff;
  }
}
