@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* CHAT CHANNEL TEXT AREA AUTOCOMPLETE */
#{c(main dark)} {
  #{c(modals autocomplete modal)} {
    background: transparent;
    overflow: hidden;
  }
}
#{c(modals autocomplete modal)} {
  #{c(modals autocomplete inner)} {
    background: cv('bg.general.popout');
    animation: cv-menu-slide-bottom 0.2s ease-in-out;
    transform-origin: 50% 100%;
  }
  #{c(modals autocomplete contentTitle)} {
    color: hsla(0, 0%, 100%, 0.5);
  }
  // #{c(other cv autocompleteContent)} {
  //   color: hsla(0, 0%, 100%, 0.6);
  // }
  // #{c(other cv autocompleteDescription)},
  // #{c(other cv autocompleteDescriptionUsername)} {
  //   color: hsla(0, 0%, 100%, 0.3);
  // }
  // #{c(other cv autocompleteDescriptionDiscriminator)} {
  //   color: hsla(0, 0%, 100%, 0.15);
  // }
  #{c(modals autocomplete clickable)}[aria-selected='true'] #{c(modals autocomplete base)},
  #{c(modals autocomplete clickable)}[aria-disabled='false'] #{c(modals autocomplete base)}:hover {
    background: cv('colors.main');
  }
  // #{c(modals autocomplete base)} {
  //   // #{c(text text xs medium)},
  //   // #{c(other cv textExtraSmallNormal)} {
  //   //   color: #fff !important;
  //   // }
  // }
  #{c(other cv autocompleteIconForeground)} {
    fill: hsla(0, 0%, 100%, 0.7);
  }
  #{c(other cv autocompleteContentSecondary)},
  #{c(other cv autocompleteRowSubheading)} {
    color: #fff;
  }
}
// SLASH COMMANDS AUTOCOMPLETE
#{c(modals autocomplete railWrapper)},
#{c(modals sidebarList list)},
#{c(modals autocomplete categoryHeader)} {
  background-color: transparent;
}
#{c(modals autocomplete categorySelected)} {
  background-color: cv('colors.main');
  &:hover {
    background-color: cv('colors.main');
  }
}
#{c(main dark)} #{c(modals autocomplete option)} {
  background-color: hsla(0, 0%, 0%, 0.5);
}
#{c(modals autocomplete option)} {
  border: none;
}
#{c(other cv autocompleteOptionalCount)} {
  color: hsla(0, 0%, 100%, 0.7);
}
// REMOVE AUTOCOMPLETE NITRO AD
#{c(other cv autocompleteUpsellDividerContainer)},
#{c(other cv autocompleteUpsellEmoji)},
#{c(other cv autocompleteUpsellHeader)} {
  display: none;
}
// REMOVE ENTIRE BOX IF ONLY CONTAINS NITRO AD
#{c(modals autocomplete modal)}:has(#{c(modals autocomplete base)} + #{c(other cv autocompleteUpsellDividerContainer)}) {
  display: none;
}
