@use "backend" as *;

/* ACTIVITY INVITE */
#{c(main dark)} #{c(embeds gameInvite)} {
  background: rgba(0, 0, 0, 0.3);
  border: none;
}
#{c(embeds gameInvite)} {
  #{c(embeds gameHeader)} {
    color: hsla(0, 0%, 100%, 0.5);
  }
  #{c(embeds gamePartyStatus)} {
    color: #fff;
  }
  #{c(other cv activityInviteHelpIcon)} {
    display: flex;
    background: hsla(0, 0%, 100%, 0.07);
    transition: all 0.15s ease-in-out;
    opacity: 0;
  }
  &:hover {
    #{c(other cv activityInviteHelpIcon)} {
      opacity: 0.7;
      &:hover {
        opacity: 1;
      }
    }
  }
  #{c(other cv activityInviteArtworkSessionEnded)} {
    filter: grayscale(1) brightness(2);
    opacity: 0.3;
  }
  #{c(other cv activityInvitePartyMemberEmpty)} {
    background: hsla(0, 0%, 100%, 0.07);
  }
}
