@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* MESSAGE ATTACHMENT */
#{c(main dark)} #{c(other cv attachment)} {
  background: hsla(0, 0%, 100%, 0.06);
  border-color: hsla(0, 0%, 100%, 0.08);
}
#{c(other cv attachmentIcon)} {
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  padding-left: 30px;
  background-image: url(https://clearvision.github.io/icons/file.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  opacity: 0.5;
  :not(#{c(other cv attachmentEmbedWrapper)}) > &[title='unknown'] {
    background-image: url(https://clearvision.github.io/icons/file_upload.svg);
  }
  &[title='document'] {
    background-image: url(https://clearvision.github.io/icons/file_document.svg);
  }
  &[title='archive'] {
    background-image: url(https://clearvision.github.io/icons/file_archive.svg);
  }
  &[title='code'] {
    background-image: url(https://clearvision.github.io/icons/file_code.svg);
  }
  &[title='webcode'] {
    background-image: url(https://clearvision.github.io/icons/file_webcode.svg);
  }
  &[title='ai'],
  &[title='ps'],
  &[title='photoshop'],
  &[title='sketch'] {
    background-image: url(https://clearvision.github.io/icons/file_image.svg);
  }
  &[title='ae'] {
    background-image: url(https://clearvision.github.io/icons/file_video.svg);
  }
  &[title='spreadsheet'] {
    background-image: url(https://clearvision.github.io/icons/file_table.svg);
  }
  &[title='acrobat'] {
    background-image: url(https://clearvision.github.io/icons/file_pdf.svg);
  }
}
#{c(other cv fileNameLink)} {
  color: cv('colors.main');
  @include hover-shadow;
}
#{c(other cv attachmentButton)} {
  color: hsla(0, 0%, 100%, 0.3);
  transition: all 0.15s ease-in-out;
  &:hover {
    color: hsla(0, 0%, 100%, 0.5);
  }
}
#{c(other cv fileMetadata)} {
  color: hsla(0, 0%, 100%, 0.3);
}

// UPLOADING
#{c(embeds attachment)} {
  background: hsla(0, 0%, 100%, 0.06);
  border-color: hsla(0, 0%, 100%, 0.08);
}
#{c(other cv fileName)} {
  color: hsla(0, 0%, 100%, 0.7);
}
#{c(other cv fileSize)} {
  color: hsla(0, 0%, 100%, 0.3);
}
#{c(other cv fileProgress)} {
  background: hsla(0, 0%, 100%, 0.04) !important;
}
#{c(embeds uploadProgressBar)} {
  background: cv('colors.main') !important;
}
