@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* BLOCKED MESSAGE */
#{c(other cv messageBlockedAction)} {
  color: cv('colors.main');
  #{c(chat blockedSystemMessage)}:hover & {
    color: cv('colors.hover');
  }
}
#{c(other cv messageGroupBlockedExpanded)} {
  background: hsla(0, 0%, 100%, 0.1);
  border-radius: 7px;
  transition: all 0.15s ease-in-out;
  + #{c(chat divider)} {
    margin-top: 25px;
  }
  #{c(chat divider)} + & {
    margin-top: 25px;
  }
}
// BLOCKED MESSAGE ACTION
#{c(other cv messageBlockedAction)} {
  color: cv('colors.main');
}
#{c(chat blockedSystemMessage)}:hover #{c(other cv messageBlockedAction)} {
  color: cv('colors.hover');
}
