@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* INVITE LINK */
#{c(main dark)} #{c(embeds invite)} {
  background: rgba(0, 0, 0, 0.4);
  border-color: transparent;
  #{c(other cv inviteTitle)} {
    color: hsla(0, 0%, 100%, 0.5);
  }
  #{c(other cv inviteGuildName)} {
    color: cv('colors.main');
    @include hover-shadow;
  }
  #{c(embeds inviteServerIcon)} {
    background-color: hsla(0, 0%, 100%, 0.04);
  }
  #{c(embeds inviteServerIconExpired)} {
    position: relative;
    background-size: 0;
    background: hsla(0, 0%, 100%, 0.04);
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 10%;
      bottom: 10%;
      left: 50%;
      width: 6px;
      background: cv('colors.danger');
      border-radius: 1px;
    }
    &:after {
      transform: translateX(-50%) rotate(45deg);
    }
    &:before {
      transform: translateX(-50%) rotate(-45deg);
    }
  }
  #{c(other cv inviteGuildDetail)} {
    padding-left: 1px;
    margin-left: -1px;
    color: hsla(0, 0%, 100%, 0.3);
  }
  #{c(other cv inviteStatusOnline)} {
    background: cv('colors.online');
    color: cv('colors.online');
  }
  #{c(other cv inviteStatusOffline)} {
    background: cv('colors.offline');
    color: cv('colors.offline');
  }
  #{c(other cv inviteButton)} {
    border-color: transparent;
  }
  #{c(button lookFilled)}#{c(button colorGreen)} {
    background: transparent;
    border: 1px solid cv('colors.success');
    transition: all 0.3s ease-in-out;
    &:hover {
      background: cv('colors.success');
    }
  }
  #{c(button lookFilled)}#{c(button colorBrand)} {
    background: transparent;
    border: 1px solid cv('colors.danger');
    transition: all 0.3s ease-in-out;
    &:hover {
      background: cv('colors.danger');
    }
  }
}
