@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* MENTIONS */
#{c(chat channelLinkUserMentionWrapper)} {
  padding: 1px 4px;
  border-radius: 5px;
  line-height: 22px;
  white-space: nowrap;
  transition: all 0.15s ease-in-out;
  background-color: cv('colors.main');
  color: #fff;
  &:hover {
    background-color: cv('colors.hover');
  }
  &#{c(other cv mentionIcon)} {
    padding-left: 1.2rem;
  }
}
// PINGED
#{c(chat mentioned)} {
  #{c(other cv mention)}#{c(other cv mentionedInteractive)} {
    background-color: hsla(0, 0%, 100%, 0.1);
    color: cv('colors.main');
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.07);
      color: cv('colors.hover');
      text-decoration: none;
    }
  }
}
// BACKGROUND
#{c(chat message)}#{c(chat mentioned)} {
  background-color: hsla(0, 0%, 100%, 0.05);
  &#{c(chat messageSelected)},
  #{c(main mouseMode)}#{c(main options fullMotion)} &:hover {
    background-color: hsla(0, 0%, 100%, 0.08);
  }
  &::before {
    background-color: cv('colors.main');
  }
}

// ICON
#{c(other cv mentionIcon)} path {
  fill: #fff;
}
