@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* MESSAGE REACTIONS */
#{c(forums reactions reaction)} {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    #{c(forums reactions count)} {
      color: hsla(0, 0%, 100%, 0.9);
    }
  }
  #{c(forums reactions count)} {
    color: hsla(0, 0%, 100%, 0.4);
  }
  &#{c(forums reactions me)} {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-color: transparent;
    #{c(forums reactions count)} {
      color: cv('colors.main');
    }
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.2);
      #{c(forums reactions count)} {
        color: cv('colors.hover');
      }
    }
  }
}
#{c(forums reactions reactionBtn)} {
  &#{c(other cv reactionAddForceShow)} {
    background-color: transparent;
    color: hsla(0, 0%, 100%, 0.7);
    &:hover {
      background-color: transparent;
      border-color: transparent;
      color: #fff;
    }
  }
}
#{c(other cv superReactionGlow)} {
  border-radius: 3px;
}

/* FORUM REACTIONS */
#{c(reaction reaction)} {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    #{c(reaction count)} {
      color: hsla(0, 0%, 100%, 0.9);
    }
  }
  #{c(reaction count)} {
    color: hsla(0, 0%, 100%, 0.4);
  }
  &#{c(reaction me)} {
    background-color: hsla(0, 0%, 100%, 0.1);
    border-color: transparent;
    #{c(reaction count)} {
      color: cv('colors.main');
    }
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.2);
      #{c(reaction count)} {
        color: cv('colors.hover');
      }
    }
  }
}
#{c(forums open topBar addReactButton)} {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    border-color: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
}

// EMOJI INFO POPOUT
#{c(modals emojiStickerPopout container)} {
  background-color: cv('bg.general.popout');
}
#{c(modals emojiStickerPopout emojiSection)} {
  background-color: transparent;
}
#{c(modals emojiStickerPopout guildSection)} {
  background-color: transparent;
}

// REACTIONS LIST
#{c(main dark)} {
  #{c(modals reactions sidebar)},
  #{c(modals reactions reactors)} {
    background-color: transparent;
  }
  #{c(modals reactions default)} {
    margin-bottom: 10px;
  }
  #{c(modals reactions selected)} {
    background-color: cv('colors.main');
    margin-bottom: 10px;
    #{c(other cv reactionModalColorStandard)} {
      color: #fff;
    }
  }
}