@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* Text Container */
#{c(embeds textContainer)} {
  background-color: rgba(0, 0, 0, 0.42);
  border: 2px solid hsla(0, 0%, 100%, 0.05);
  border-radius: 8px 8px 0 0;
}
#{c(embeds textFooter)} {
  background-color: hsla(0, 0%, 100%, 0.1);
  border: none;
}
#{c(embeds attachmentName)} {
  color: hsla(0, 0%, 100%, 0.7);
  &:hover {
    color: hsla(0, 0%, 100%, 0.9);
  }
}
#{c(embeds attachmentSize)} {
  color: hsla(0, 0%, 100%, 0.5);
  margin: 0 5px;
  &:hover {
    color: hsla(0, 0%, 100%, 0.7);
  }
}
#{c(modals textFileExpanded container)} {
  background-color: hsla(0, 0%, 0%, 0.5);
  border: none;
}

// CHANGE LANGUAGE POPOUT
#{c(other cv textContainerLanguageSelector)} {
  background-color: cv('bg.general.popout');
}
