@use "backend" as *;

/* CHANNEL CATEGORY */
:is(#{c(sidebar categoryContainerDefault)},#{c(sidebar channelDragOver)},#{c(sidebar containerDragBefore)},#{c(sidebar containerDragAfter)}) {
  padding-top: 16px;
}
#{c(sidebar categoryWrapper)} {
  padding-left: 10px;
  padding-right: 0;
  transition: all 0.3s ease-in-out;
}
#{c(sidebar categoryArrow)} {
  display: none;
}
#{c(sidebar categoryName)} {
  display: flex;
  align-items: center;
  justify-content: center;
  color: cv('colors.main');
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease-in-out;
  opacity: 0.7;
  &:before {
    content: '';
    height: 2px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to left, cv('colors.main') 50%, transparent);
    margin-right: 5px;
  }
  &:after {
    content: '';
    height: 2px;
    flex-grow: 1;
    transition: all 0.3s ease-in-out;
    background: linear-gradient(to right, cv('colors.main') 50%, transparent);
    margin-left: 5px;
  }
  #{c(sidebar categoryMainContent)}:hover & {
    opacity: 1;
  }
}
#{c(sidebar sidebar)} {
  :is(#{c(sidebar categoryContainerDefault)},#{c(sidebar channelDragOver)},#{c(sidebar containerDragBefore)},#{c(sidebar containerDragAfter)}) {
    #{c(sidebar categoryWrapper)} {
      #{c(sidebar categoryName)} {
        color: cv('colors.main');
      }
    }
  }
}
#{c(sidebar categoryChildren)} {
  margin-left: 3px;
}

// COLLAPSED
#{c(sidebar categoryCollapsed)} {
  #{c(sidebar categoryName)} {
    &:before,
    &:after {
      flex-grow: 0;
    }
  }
}

// MUTED
#{c(sidebar categoryMuted)} {
  opacity: 0.5;
}

// ADD CHANNEL ICON
#{c(sidebar categoryAddButtonIcon)} {
  color: cv('colors.main');
  opacity: 0.7;
  transition: all 0.3s ease-in-out;
  &:hover {
    color: cv('colors.main');
    opacity: 1;
  }
}

// New Channel
#{c(chat chatHeaderButton)},
#{c(button icon)} {
  color: var(--url-color);
}
