@use "backend" as *;

/* CHANNEL INDICATORS */
#{c(sidebar server unreadBar old unread)},
#{c(sidebar server unreadBar old mention)} {
  position: relative;
  background: transparent;
  &:after {
    content: '';
    position: absolute;
    @include stretch;
    background: cv('colors.main');
    border-radius: 3px;
    opacity: 0.9;
    z-index: -1;
    transition: all 0.15s ease-in-out;
  }
  &:hover {
    &:after {
      opacity: 1;
    }
  }
}
