@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/*CUSTOMIZE CHANNELS*/

#{c(pages header header)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.6)) !important;
}
#{c(pages header container)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.5)) !important;
}

/*header*/
#{c(pages header tabBar)} {
  border-bottom: none;
}
/*main section*/
#{c(pages customise prompt)} {
  background: var(--background-overlay);
}
#{c(other cv customizeChannelsPill)} {
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid cv('colors.main');
}
/*option buttons*/
#{c(other cv customizeChannelsOption)} {
  border: 2px solid cv('colors.main');
  &:hover {
    border: 2px solid cv('colors.hover');
  }
  &#{c(pages customiseOptions selected)} {
    border: 2px solid var(--success-color);
    background: rgba(0, 0, 0, 0.2);
  }
}
/*profile card*/
#{c(pages customise profileCard)} {
  background: var(--background-overlay);
}
#{c(pages customise role)} {
  background: rgba(0, 0, 0, 0.2);
}

/*BROWSE CHANNELS*/
#{c(pages pageBody)} {
  background-color: transparent;
}
#{c(pages channelsDismissable container)} {
  background-color: rgba(0, 0, 0, 0.4);
}

// #{c(pages channels selectAll)} {
//   #{c(text text xs medium)} {
//     color: hsla(0, 0%, 100%, 0.5) !important;
//     transition: all 0.15s ease-in-out;
//   }
// }

#{c(pages channels channelRow)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
  &:hover {
    &:not(#{c(pages channels disabled)}) {
      background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.6));
    }
  }
}
// MEMBERS LIST
/*main container*/
:is(#{c(membersPage mainTableContainer)},#{c(other cv membersChannelContainer)}) {
  background: var(--background-overlay);
  border: 1px solid cv('colors.main');
  box-shadow: none;
}
/*table border*/
#{c(membersPage table)} {
  border-top: 1px solid cv('colors.main');
}
/*user hover*/
#{c(other cv membersChannelRowContainer)}:hover td {
  background: cv('colors.hover');
}
/*user option buttons*/
#{c(membersPage actionButton)} {
  background: cv('colors.main');
  &:hover {
    background: cv('colors.hover');
  }
  &:nth-child(2) path ~ path,
  &:nth-child(1) path {
    fill: #fff;
  }
}
/*roles*/
#{c(membersPage otherRoles)} {
  background: var(--background-overlay);
}
/*hover page button*/
#{c(search pageButton)} > span {
  color: #fff;
}

// NOT IN CHANNEL LIST
#{c(other cv channelNotInList)} {
  background: transparent;
}
/* SERVER GUIDE */
#{c(other cv homeContainer)} {
  /*First msg*/
  #{c(other cv serverGuideMessage)} {
    background: transparent;
  }
  #{c(other cv serverGuideMessageInner)},
  #{c(other cv serverGuideAvatar)},
  #{c(other cv serverGuideAction)},
  #{c(other cv serverGuideSidebarCard)},
  #{c(other cv serverGuideRow)} {
    background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
  }
  #{c(other cv serverGuideAction)}:hover {
    background: cv('colors.hover');
  }
  #{c(other cv serverGuideIcon)} {
    background: cv('colors.main');
    border: 4px solid transparent;
  }
  #{c(other cv guildFolderIcon)} {
    position: relative;
    background-clip: padding-box;
    background-color: none;
    background-position: center center;
    background-size: 100%100%;
  }
  #{c(other cv serverGuideChannelIcon)},
  #{c(other cv serverGuideRulesIcon)} {
    background: cv('colors.main');
    & > svg > path {
      fill: #fff;
    }
  }
  #{c(other cv serverGuideActionCompleted)} > path {
    fill: var(--success-color);
  }
}
/*Cases where we get taken to channels*/
#{c(other cv serverGuideChannelHintBanner)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
}
#{c(other cv serverGuideChannelHintIcon)} {
  background: cv('colors.main');
}
/* SERVER SUBSCRIPTIONS */
#{c(other cv serverSubscription)} {
  background: var(--background-overlay);
}
#{c(other cv serverSubscriptionTier)} {
  background: rgba(0, 0, 0, 0.4);
}
#{c(other cv serverSubscriptionPerk)},
#{c(other cv serverSubscriptionPreview)} {
  background: rgba(0, 0, 0, 0.2);
}
/* CUSTOMIZE YOUR EXPERIENCE */
#{c(other cv serverExperienceNav)} {
  background: rgba(0, 0, 0, 0.4);
}
#{c(other cv serverExperiencePrompt)},
#{c(other cv serverExperienceTerms)} {
  background: rgba(0, 0, 0, 0.3);
}
#{c(other cv serverExperienceGradient)} {
  display: none;
}
