@use "backend" as *;

/* LOADING SCREEN */
#{c(loading container)} {
  background: rgba(0, 0, 0, 0.9);
}
#{c(loading problems links)} {
  color: cv('colors.main');
  opacity: 1 !important;
  @include hover-shadow;
}
