@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* ADD SERVER MODAL */

// MAIN PAGE
#{c(main light)} {
  #{c(modals addServer modal)} {
    #{c(other cv defaultColor)} {
      color: #fff;
    }
    #{c(other cv input)} {
      color: rgb(220, 221, 222);
    }
  }
}
#{c(modals addServer templateButton)} {
  background-color: cv('colors.main');
  &:hover {
    background-color: cv('colors.hover');
  }
  #{c(modals addServer templateButtonText)} {
    color: #fff;
  }
  #{c(modals addServer templateArrow)} {
    filter: brightness(0) invert(1);
  }
}
#{c(other cv addServerOptionHeader)} {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
// CREATE SERVER
#{c(other cv createServerIconContainer)} > svg > circle {
  fill: cv('colors.main');
}
#{c(other cv createServerOtherBackButton)},
#{c(modals addServer tellUsMoreBackButton)} {
  #{c(button contents)} {
    color: hsla(0, 0%, 100%, 0.7);
    &:hover {
      color: #fff;
      text-decoration: underline;
    }
  }
}

// JOIN SERVER
#{c(modals addServer joinAServerInput)} {
  background-color: transparent;
}
#{c(other cv joinServerExample)} {
  color: cv('colors.main');
  font-weight: 500;
}
#{c(modals addServer joinAServerRowContainer)} {
  background-color: cv('colors.main');
  &:hover {
    background-color: cv('colors.hover');
  }
  #{c(other cv joinServerRowText)} {
    color: #fff;
  }
  #{c(other cv joinServerRowArrow)} {
    filter: brightness(0) invert(1);
  }
}
