@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* EVENT MODAL */
#{c(modals eventsList header)} {
  background-color: transparent;
}
#{c(other cv eventIconCircle)} {
  background-color: cv('colors.main');
}
#{c(modals eventCard card)} {
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.4);
    border: 2px solid cv('colors.hover');
  }
  background-color: hsla(0, 0%, 0%, 0.4);
  border: 2px solid cv('colors.main');
}
#{c(other cv eventNewBadgeText)} {
  color: #fff;
}
#{c(other cv eventIconContainer)} svg path {
  fill: cv('colors.main');
}
#{c(modals eventCard rsvpCount)} {
  background-color: cv('colors.main');
  #{c(other cv eventRSVPIcon)} {
    color: #fff;
  }
}

// EVENT INFO
#{c(modals eventCard header)} {
  #{c(tab item)} {
    &:hover {
      border-bottom-color: cv('colors.hover');
    }
    &#{c(tab selected)},
    &:active {
      border-bottom-color: cv('colors.main');
    }
  }
}
#{c(modals eventFull contentContainer)} {
  background: transparent;
}
#{c(other cv eventInfoIconCircle)} {
  background-color: cv('colors.main');
}

// CREATE EVENT
#{c(other cv createEventProgressBar)} {
  background-color: hsla(0, 0%, 100%, 0.3);
  &#{c(other cv createEventProgressBarSelected)} {
    background-color: cv('colors.main');
  }
  + #{c(other cv createEventColorMuted)} {
    color: hsla(0, 0%, 100%, 0.3);
  }
  + #{c(other cv createEventColorBrand)} {
    color: cv('colors.main');
  }
}
#{c(other cv createEventCreateStageContainer)} {
  background-color: transparent;
}
#{c(modals createEvent textInput)} {
  background: transparent;
}
#{c(main dark)} #{c(modals createEvent previewCard)} {
  background-color: hsla(0, 0%, 0%, 0.4);
  border: 2px solid cv('colors.main');
}
// #{c(other cv createEventIconContainer)} {
//   background-color: cv('colors.main');
// }
