@use "backend" as *;

/* KEYBOARD SHORTCUTS MODAL */

#{c(modals keybinds modal)} {
  background-color: hsla(0, 0%, 0%, 0.5);
}
#{c(other cv keybindGroup)} {
  background-color: transparent;
}
#{c(keybinds combo)} {
  #{c(keybinds key)} {
    background: transparent;
    border: 1px solid cv('colors.main');
    border-radius: 3px;
    box-shadow: inset 0 -4px cv('colors.main');
    color: hsla(0, 0%, 100%, 0.7);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
    &:hover {
      background: cv('colors.hover');
      color: #fff;
    }
    &:active {
      border: 1px solid cv('colors.hover');
      box-shadow: inset 0 -2px cv('colors.main');
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
}
