@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* MODAL */
#{c(main dark)} {
  #{c(other cv modal)},
  #{c(modals root)} {
    background: rgba(0, 0, 0, 0.5);
    box-shadow: none;
    backdrop-filter: blur(1.5px);
    #{c(modals footer)} {
      background: transparent;
      box-shadow: none;
    }
  }
}

// IMAGE MODAL
#{c(modals mediaViewer actionButtons)} {
  background-color: rgba(0, 0, 0, 0.6);
  border: 1px solid cv('colors.main');
}

// MESSAGE DELETION CONFIRMATION
#{c(main dark)} #{c(modals pin message)} {
  background-color: transparent;
  box-shadow: 0 0 2px 2px cv('colors.main');
}

// REPORT MESSAGE
#{c(other cv messageReportOption)} {
  background-color: cv('colors.main');
  &:hover {
    background-color: cv('colors.hover');
  }
}

// QUICKSWITCHER
#{c(modals quickswitch modal)} {
  background-color: rgba(0, 0, 0, 0.5);
}
#{c(modals quickswitch search)} {
  background-color: rgba(255, 255, 255, 0.07);
}
#{c(modals quickswitch scroller)} {
  background-color: transparent;
  margin-top: 10px;
  &::-webkit-scrollbar-track {
    background-color: transparent !important;
  }
}
#{c(other cv quickswitcherResult)}[aria-selected='true'] {
  background: var(--background-modifier-hover);
}
#{c(other cv quickswitcherPing)} {
  background: cv('colors.main');
}

// TIMEOUT
/*timeout duration item*/
#{c(modals timeoutDuration item)}#{c(modals timeoutDuration selectorButtonSelected)} {
  background: cv('colors.main');
  border-color: cv('colors.main');
}
#{c(modals timeoutDuration item)}:not(#{c(modals timeoutDuration selectorButtonSelected)}) {
  background: rgba(0, 0, 0, 0.4);
  border-color: cv('colors.main');
}

// BAN MODAL
#{c(other cv banReasonOther)} {
  background-color: hsla(0, 0%, 100%, 0.05);
  border: 2px solid transparent;
  transition: all 0.15s ease-in-out;
  color: #fff;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    color: #fff;
    border: 2px solid cv('colors.hover');
  }
}

// SWITCH ACCOUNTS
#{c(main dark)} #{c(modals root)} {
  #{c(login authBox)},
  #{c(other cv addAccountFooter)} {
    background-color: transparent;
  }
}

// ACTIVITIES
#{c(modals activities header)},
#{c(modals activities divider)} {
  background: rgba(0, 0, 0, 0.4);
}
#{c(other cv activityTag)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.5));
}
#{c(other cv activityItem)} {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid cv('colors.main');
  &:hover {
    background: rgba(0, 0, 0, 0.4);
    border: 2px solid cv('colors.hover');
  }
  &#{c(other cv activityItemDisabled)} {
    background: rgba(0, 0, 0, 0.4);
  }
}
#{c(other cv activitiesScroller)} {
  background: transparent;
}

// INVITE BOT
#{c(other cv botInviteModalContent)} {
  background-color: hsla(0, 0%, 100%, 0.05);
}

// AUTH MODAL
#{c(modals oauth authorize)} {
  background-color: transparent;
  border-radius: 5px;
  &#{c(other cv authModalInApp)} {
    background-color: transparent;
  }
}
#{c(other cv authModalScopeTimes)} {
  background-color: hsla(0, 0%, 100%, 0.15);
}
#{c(modals oauth footer)} {
  background-color: transparent;
}


// YOU MUST COMPLETE A FEW MORE STEPS BEFORE YOU CAN TALK
/*before you talk here popup*/
#{c(modals rulesScreening modal)} {
  background: transparent;
}
/*border color for terms of acceptance*/
#{c(other cv beforeTalkRule)} {
  border-color: cv('colors.main');
}
/*agree to rules*/
#{c(other cv beforeTalkRulesBackground)} {
  background: var(--background-overlay);
  border-color: cv('colors.main');
  &:hover:not(:focus) {
    border-color: cv('colors.hover');
    background: var(--background-overlay);
  }
}

// Webhook previews
#{c(other cv webhookFooter)} {
  background-color: transparent;
}
#{c(main dark)} #{c(other cv webhookPopout)} {
  background-color: rgba(0, 0, 0, 0.8);
}
#{c(other cv webhookEmojiRow)} {
  background-color: cv('colors.main');
  color: cv('text.normal') !important;
}
#{c(main layer)}:after {
  background: var(--background-overlay);
}

// INVITE FROM WEB BROWSER
#{c(main dark)} #{c(modals browserInvite contentWrapper)} {
  background: hsla(0, 0%, 0%, 0.5);
}
#{c(modals browserInvite pillOnline)} {
  background-color: var(--online-color);
}
#{c(modals browserInvite pillIconTotal)} {
  background-color: var(--offline-color);
}