@use "backend" as *;

// SELECT NITRO TIER
#{c(other cv giftModalSelectTierHeader)},
#{c(other cv giftModalSelectTier)} {
  background: transparent;
}

// DISCORD NITRO PAYMENT
#{c(other cv nitroPaymentNote)},
#{c(other cv nitroPaymentWrapper)},
#{c(other cv nitroPaymentBody)} {
  background-color: transparent;
}
#{c(other cv nitroPaymentTable)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}
#{c(other cv nitroPaymentDiscount)} {
  background-color: cv('colors.main');
}
#{c(other cv nitroPaymentCardInputWrapper)} {
  padding: 2px;
}
#{c(other cv nitroPaymentCardInput)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
}
#{c(other cv nitroPaymentCardInputFocused)} {
  box-shadow: 0 0 2px 2px cv('colors.main');
}

// SERVER BOOST PAYMENT MODAL
#{c(main dark)} #{c(other cv serverBoostPaymentQuantityIconWrapper)} {
  background: hsla(0, 0%, 0%, 0.4);
}
#{c(other cv serverBoostPaymentQuantityIcon)} {
  color: #fff;
  &:hover {
    color: #fff;
    background-color: cv('colors.hover');
  }
}
#{c(other cv serverBoostPaymentActions)} #{c(other cv input)} {
  box-shadow: none;
}
/*Boost this server button in serverboost page*/
#{c(other cv serverBoostPerkContent)} {
  background: transparent;
  #{c(other cv serverBoostPaymentUpsellFooter)} {
    background: hsla(0, 0%, 0%, 0.4);
  }
}
#{c(other cv serverBoostPaymentPerksList)} {
  background: rgba(0, 0, 0, 0.4);
}

// GIFT MODAL
#{c(other cv giftModalHeader)} {
  background: none;
}
#{c(other cv giftModalGiftBoxSelected)} {
  border: 2px solid cv('colors.main');
}
#{c(other cv giftModalPlanSelected)} {
  outline: 2px solid cv('colors.main');
}
#{c(other cv giftModalShopIcon)} {
  background: cv('colors.main');
}
/*loading screen*/
#{c(other cv giftModalSpinner)} {
  background: rgba(0, 0, 0, 0.4);
}
