@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* SCREEN SHARE */
#{c(other cv screenshareSegmentControlOption)} {
  color: hsla(0, 0%, 100%, 0.7);
  #{c(main dark)} &#{c(other cv screenshareSegmentControlSelected)} {
    color: cv('colors.main');
    border-bottom: 2px solid cv('colors.main');
  }
}
#{c(other cv screenshareTile)} {
  &:hover {
    #{c(other cv screenshareSourceThumbnail)} {
      box-shadow: inset 0 0 0 2px cv('colors.hover');
    }
  }
  #{c(other cv screenshareSourceThumbnail)} {
    &#{c(other cv screenshareSourceSelected)} {
      box-shadow: inset 0 0 0 2px cv('colors.main');
    }
  }
}
#{c(other cv screenshareCard)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: 2px solid hsla(0, 0%, 100%, 0.09);
}
#{c(main dark)} {
  #{c(other cv screenshareSettingsSelector)} {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-color: hsla(0, 0%, 100%, 0.09);
    &:before {
      background-color: transparent;
    }
    &:hover {
      background-color: cv('colors.hover');
    }
    &#{c(other cv screenshareSettingsSelected)} {
      background-color: cv('colors.main');
    }
    &#{c(other cv screenshareSettingsUpsell)} {
      &:hover {
        background-color: #c269c3;
        #{c(other cv screenshareSettingsUpsellText)} {
          color: #fff;
        }
      }
    }
  }
}
#{c(other cv screenshareUpsell)} {
  background: transparent;
}

// CLIPS
#{c(other cv clipsShareTo)} {
  background: rgba(0, 0, 0, 0.4);
  &:hover {
    background: cv('colors.hover');
    opacity: 0.8;
  }
}
#{c(chatForm inlineUpload)}#{c(other cv clipsUploadModal)} {
  background-color: transparent;
}
#{c(other cv clipsUploadGame)} {
  color: cv('colors.main');
}
#{c(other cv clipsUploadTitle)} {
  color: #fff !important; //Important needed because discord used element style - Snow
}
#{c(other cv clipsInterfaceOptionsModal)} {
  background: transparent;
}
#{c(other cv clipsInterfaceGeneralInfo)} {
  background: transparent;
}
#{c(other cv clipsInterfaceParticipants)} {
  background: transparent;
}
#{c(other cv clipsInterfaceParticipantsCounter)} {
  background-color: rgba(0, 0, 0, 0.8);
}
#{c(other cv clipsInterfaceTimeScroller)} {
  background-color: cv('colors.main');
}
#{c(other cv clipsInterfacePlayPause)} {
  background-color: rgba(0, 0, 0, 0.8);
}
#{c(other cv clipsInterfaceDragHandles)} {
  background-color: cv('colors.main');
}
#{c(other cv clipInChatFooter)} {
  background: rgba(0, 0, 0, 0.8);
}
