@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* THREAD MODAL */
#{c(modals openThreadsPopout modal)} {
  background-color: hsla(0, 0%, 0%, 0.5) !important;
  #{c(modals threads container)} {
    background-color: transparent;
  }
}

// #{c(main dark)} #{c(modals threads list)} #{c(other cv threadModalTabBar)} #{c(other cv threadModalTab)} {
//   color: #fff;
//   &#{c(other cv threadModalTabActive)} {
//     background-color: cv('colors.main');
//   }
//   &:hover:not(#{c(other cv threadModalTabActive)}) {
//     background-color: hsla(0, 0%, 100%, 0.07);
//     color: #fff;
//   }
// }

#{c(modals threads listItem)} {
  background-color: hsla(0, 0%, 0%, 0.3);
  border: 2px solid cv('colors.main');
  &:hover {
    border: 2px solid cv('colors.hover');
  }
}
