@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* FRIENDS */
#{c(main dark)} {
  #{c(friends container)} {
    background-color: transparent;
  }
}

// FRIENDS COLUMN
#{c(friends peopleColumn)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
}
#{c(serverSettings roleSearchBar)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.09);
  border: none;
  &:focus-within {
    box-shadow: 0 0 2px 2px cv('colors.main');
  }
}
#{c(friends peopleListItem)} {
  border-top: 1px solid hsla(0, 0%, 100%, 0.1);
  &:hover,
  &#{c(friends peopleListItemActive)} {
    background-color: hsla(0, 0%, 100%, 0.05);
  }
}

#{c(other cv friendActivity)} {
  color: hsla(0, 0%, 100%, 0.5);
  strong {
    color: cv('colors.main');
  }
}

#{c(friends explorePublicContainer)} {
  background: hsla(0, 0%, 0%, 0.2);
  border: 2px solid cv('colors.main');
  &:hover {
    background: hsla(0, 0%, 0%, 0.4);
    border: 2px solid cv('colors.hover');
  }
}

// ACTION BUTTON
#{c(friends actionButton)} {
  background-color: hsla(0, 0%, 0%, 0.6);
  color: #fff;
  &#{c(friends highlight)} {
    background-color: hsla(0, 0%, 0%, 0.6);
    color: #fff;
  }
  &:hover {
    background-color: cv('colors.hover');
    color: #fff;
  }
  &#{c(friends actionButtonAccept)} {
    color: cv('colors.success');
    &:hover {
      background-color: cv('colors.success');
      color: #fff !important;
    }
  }
  &#{c(friends actionButtonDeny)} {
    color: cv('colors.danger');
    &:hover {
      background-color: cv('colors.danger');
      color: #fff !important;
    }
  }
}

// ADD FRIENDS BUTTON
#{c(tab item)}[aria-controls='add_friend-tab'][aria-selected='false'] {
  background-color: cv('colors.success') !important;
  color: #fff !important;
}
#{c(tab item)}[aria-controls='add_friend-tab'][aria-selected='true'] {
  background-color: transparent !important;
  color: cv('colors.success') !important;
  box-shadow: 0 0 0 1px var(--success-color) inset;
}
#{c(tab item)}[aria-controls='add_friend-tab'][aria-selected='true']:before {
  content: '';
  position: absolute;
  background-color: var(--success-color);
  opacity: 0.2;
  width: 100%;
  height: 100%;
  z-index: -1;
}

// ADD FRIENDS PAGE
#{c(friends addFriendInputWrapper)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.09);
  border: none;
  &:focus-within {
    box-shadow: 0 0 2px 2px cv('colors.main');
  }
  #{c(other cv input)} {
    background-color: transparent;
    box-shadow: none;
    &:focus,
    &#{c(other cv inputFocused)} {
      box-shadow: none;
    }
  }
}
#{c(other cv friendsAddFriendInput)} {
  &::placeholder {
    color: hsla(0, 0%, 100%, 0.3);
  }
}
#{c(other cv friendsAddFriendHint)} {
  color: hsla(0, 0%, 100%, 0.3);
}

// NOW PLAYING
#{c(friends nowPlayingColumn)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.6));
}
#{c(friends nowPlayingContainer)} {
  background-color: transparent;
}
#{c(friends nowPlayingScroller)} {
  border-left: none;
}
#{c(other cv consentCard)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// ACTIVE NOW
#{c(main dark)} {
  #{c(friends itemCardOuter)} {
    background-color: hsla(0, 0%, 0%, 0.4);
    border: 1px solid transparent;
    &#{c(friends itemCardInteractive)}:hover,
    &#{c(friends itemCardActive)} {
      background-color: hsla(0, 0%, 0%, 0.6);
    }
  }
  #{c(friends itemCardBodyInset)} {
    background-color: hsla(0, 0%, 0%, 0.4);
  }
  #{c(friends partyMemberOverflow)} {
    background-color: var(--background-overlay);
  }
}
#{c(friends itemCardBodySection)} {
  background-color: transparent;
}
#{c(main dark)} #{c(other cv activeNowPreviewWrapper)} {
  background-color: transparent;
}

// IT'S QUIET FOR NOW...
#{c(friends emptyCard)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}
#{c(other cv emptyActiveNowText)} {
  color: hsla(0, 0%, 100%, 0.3);
}

// PROMOTED QUEST
#{c(other cv promotedQuestActivity)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}
#{c(other cv promotedQuestPill)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.8));
  color: cv('text.normal');
}

// // DM USER PROFILE
// #{c(other cv userProfileOuterUnthemed)} {
//   background-color: hsla(0, 0%, 0%, 0.4);
//   #{c(other cv userProfileDMInnerThemed)} {
//     background: transparent;
//   }
//   #{c(other cv userModalDMBadgeList)},
//   #{c(other cv userProfileDMOverlayBackground)} {
//     background: hsla(0, 0%, 0%, 0.4);
//   }
// }
