@use "backend" as *;

/* GAME LIBRARY */

// BODY
#{c(other cv libraryScroller)} {
  background: transparent;
}
#{c(other cv libraryTableHeader)} {
  background-color: transparent;
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.07);
  > #{c(other cv libraryTableHeaderCell)} {
    border-left-color: hsla(0, 0%, 100%, 0.07);
    color: hsla(0, 0%, 100%, 0.3);
    transition: all 0.3s ease-in-out;
    &:hover {
      &:not(#{c(other cv libraryTableHeaderCellSorted)}) {
        color: hsla(0, 0%, 100%, 0.5);
      }
    }
  }
  > #{c(other cv libraryTableHeaderCellSorted)} {
    color: hsla(0, 0%, 100%, 0.7);
  }
}
#{c(other cv libraryTableRowWrapper)} {
  background-color: transparent;
  border-radius: 0;
  transition: all 0.15s ease-in-out;
  &,
  &:hover {
    margin: 0 20px;
    padding: 0;
    + #{c(other cv libraryTableRowWrapper)} {
      > #{c(other cv libraryTableRow)} {
        margin-top: -1px;
        border-top: 1px solid hsla(0, 0%, 100%, 0.04);
      }
    }
  }
  &:hover {
    background-color: rgba(0, 0, 0, 0.3);
  }
}
#{c(other cv libraryTableRow)} {
  margin: 0;
  color: hsla(0, 0%, 100%, 0.7);
  #{c(other cv libraryTableActionsCell)} {
    #{c(button button)} {
      background-color: hsla(0, 0%, 100%, 0.07);
      color: hsla(0, 0%, 100%, 0.7);
      transition: all 0.15s ease-in-out;
    }
    &:hover {
      #{c(button button)}:hover {
        background-color: cv('colors.main');
        color: #fff;
      }
    }
  }
}
#{c(other cv libraryTableTextCell)} {
  color: hsla(0, 0%, 100%, 0.5);
}
#{c(other cv libraryTableLastPlayedCellNew)} {
  color: cv('colors.main');
}
#{c(other cv libraryTableSettingIcon)} {
  color: #fff;
  opacity: 0.5;
  transition: all 0.15s ease-in-out;
  &:hover {
    opacity: 1;
  }
}
#{c(other cv libraryTableRowWrapperDim)} {
  #{c(other cv libraryTableNameCell)},
  #{c(other cv libraryTableTextCell)},
  #{c(other cv libraryTableSettingIcon)} {
    transition: all 0.15s ease-in-out;
  }
}
#{c(other cv libraryGameDownloadContainer)} {
  background-color: rgba(0, 0, 0, 0.6);
}

// SETTINGS
#{c(other cv librarySettingsScroller)} {
  background: transparent;
}
#{c(main dark)} {
  #{c(other cv libraryInstallationPath)} {
    box-shadow: 0 1px 0 0 hsla(0, 0%, 100%, 0.06);
  }
  #{c(other cv libraryUsageBackground)} {
    stroke: hsla(0, 0%, 0%, 0.6);
  }
  #{c(other cv libraryUsageForeground)} {
    stroke: cv('colors.main');
  }
  #{c(other cv libraryDefaultIndicator)} {
    background-color: cv('colors.main');
  }
}
