@use "backend" as *;

/* NITRO */
#{c(store store)} {
  background-color: transparent;
}
#{c(store scroller)},
#{c(other cv nitroPremiumScroller)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.5));
  right: 0%;
  transition: all 0.5s ease-in-out;
  &:has(+ #{c(other cv nitroPerksScroller)}#{c(other cv nitroPerksScrollerOpen)}) {
    right: 100%;
  }
}
#{c(other cv nitroCard)} {
  background-color: hsla(0, 0%, 0%, 0.4);
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
#{c(other cv nitroSeePerksButton)} {
  background-color: hsla(0, 0%, 0%, 0.6);
}
#{c(other cv nitroGiftContainer)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}
#{c(main dark)} #{c(other cv nitroGiftTextContainer)} {
  background-image: none;
}
#{c(other cv nitroFooterInnerWrapper)} {
  background-color: hsla(0, 0%, 0%, 0.8);
}

// PERKS PAGE
#{c(other cv nitroPerksScroller)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.6));
  transition: all 0.5s ease-in-out;
}
#{c(other cv nitroPerksBackButton)} {
  background-color: hsla(0, 0%, 0%, 0.6);
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.8);
  }
}
#{c(main dark)} {
  #{c(other cv nitroPerksArrows)} {
    background-color: hsla(0, 0%, 0%, 0.6);
  }
}
#{c(other cv nitroPerksArrowIcon)} {
  fill: hsla(0, 0%, 100%, 0.7);
}
#{c(main dark)} #{c(other cv nitroPerksArrowInactive)} {
  background-color: hsla(0, 0%, 0%, 0.4);
  #{c(other cv nitroPerksArrowIcon)} {
    fill: hsla(0, 0%, 100%, 0.3);
  }
}
#{c(other cv nitroPerksProgressBar)} {
  background-color: hsla(0, 0%, 0%, 0.6);
}
#{c(other cv nitroPerksProgressDot)} {
  background-color: hsla(0, 0%, 100%, 0.5);
}
#{c(other cv nitroPerksProgressDotSelected)} {
  background-color: #fff;
}
