@use "backend" as *;

// POPOUT BUTTON
#{c(chatForm appsButton)} {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  height: 48px;
  width: 48px;
}

// BACKGROUND
#{c(other cv appPopoutWrapper)} {
  background-color: cv('bg.general.popout');
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  box-shadow: none;
}
#{c(other cv appPopoutContainer)} {
  background-color: transparent;
}

// ITEM
#{c(other cv appPopoutItemLoading)} {
  background-color: transparent;
}
#{c(other cv appPopoutItem)} {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  &#{c(other cv appPopoutRowItem)} {
    background-color: transparent;
    &:hover,
    &:active {
      background-color: hsla(0, 0%, 100%, 0.07);
      border-radius: 3px;
    }
  }
}
#{c(other cv appPopoutRowItemUnderline)} {
  right: 4px;
}
// #{c(other cv appPopoutViewMore)} {
//   #{c(other cv textMediumMedium)} {
//     color: cv('colors.main') !important;
//   }
// }

// APP DETAILS
#{c(other cv appPopoutDetails)} {
  background-color: transparent;
}
#{c(other cv appPopoutDetailsBackButton)} {
  background-color: hsla(0, 0%, 0%, 0.3);
  &:hover {
    background-color: hsla(0, 0%, 0%, 0.5);
  }
}
#{c(other cv appPopoutStickyBanner)} {
  visibility: hidden;
}
#{c(other cv appPopoutBanner)} {
  -webkit-mask: linear-gradient(to bottom, #000, transparent);
  mask: linear-gradient(to bottom, #000, transparent);
}
#{c(other cv appPopoutAppIcon)} {
  background-color: hsla(0, 0%, 0%, 0.3);
  border-color: transparent;
}
#{c(other cv appPopoutAppOverview)},
#{c(other cv appPopoutAppOverviewWithVideo)} {
  background-color: transparent;
}
#{c(other cv appPopoutAppOverviewShowMore)} {
  // #{c(other cv textSmallSemibold)} {
  //   color: cv('colors.main') !important;
  // }
  path {
    fill: cv('colors.main');
  }
}

// BOT APP DETAILS
#{c(other cv appPopoutDropdown)} {
  background-color: transparent;
}
#{c(other cv appPopoutCommandContainer)} {
  background-color: transparent;
}
#{c(other cv appPopoutCommand)} {
  background-color: transparent;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
}
#{c(other cv appPopoutTag)} {
  background-color: cv('colors.main');
  path {
    fill: #fff;
  }
  // #{c(other cv textSmallSemibold)} {
  //   color: #fff;
  // }
}

// LEARN MORE
#{c(other cv appPopoutLearnMore)} {
  background-color: transparent;
}

// SEARCH
#{c(other cv appPopoutSearchItem)} {
  background-color: transparent;
  &:hover,
  &:active {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 3px;
  }
}
#{c(other cv appPopoutSearchItemUnderline)} {
  right: 4px;
}
