@use "backend" as *;

/* CONNECTION INFO POPOUT */
#{c(other cv connectionDebugPopout)} {
  background-color: cv('bg.general.popout');
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#{c(other cv connectionDebugText)} {
  > strong {
    color: cv('colors.main');
  }
  &#{c(other cv connectionDebugTextDetails)} {
    color: hsla(0, 0%, 100%, 0.5);
  }
}
