@use "backend" as *;

/* EMOJI PICKER */
#{c(modals expressionPicker drawerSizingWrapper)} {
  min-width: 430px;
}
#{c(modals expressionPicker contentWrapper)} {
  background-color: cv('bg.general.popout');
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
// NAV BAR
#{c(modals expressionPicker navButtonActive)} {
  background-color: cv('colors.main');
}
#{c(modals emoji header)} {
  background-color: cv('bg.general.popout');
}
#{c(modals emoji picker)} {
  background-color: cv('bg.general.popout');
  min-width: 430px;
  border-radius: 0;
  #{c(modals emoji header)} {
    background: transparent;
  }
}

// SEARCH BAR
#{c(modals emoji searchBar)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  margin-top: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px cv('colors.main');
    transition: all 0.15s ease-in-out;
    #{c(modals searchBar input)} {
      color: #fff;
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
}

// SUPER REACTION BUTTON
#{c(other cv emojiPickerSuperReactionButton)} {
  background-color: transparent;
}

// DIVERSITY SELECTOR
#{c(modals emoji skinOptions)} {
  border: none;
  padding: 2px;
  background-color: hsla(0, 0%, 0%, 0.8);
  #{c(modals emoji skinOptionsEmojiItem)} {
    border-radius: 3px;
    transition: all 0.15s ease-in-out;
    &:hover {
      background-color: hsla(0, 0%, 100%, 0.07);
    }
  }
}

// EMOJI ITEM
#{c(other cv emojiPickerCategoryHeaderWrapper)} {
  background-color: transparent;
  #{c(other cv emojiPickerCategoryHeader)} {
    color: #fff;
  }
}
#{c(modals emoji item)} {
  border-radius: 3px;
  transition: all 0.15s ease-in-out, filter 0s;
  &#{c(modals emoji itemSelected)} {
    background-color: hsla(0, 0%, 100%, 0.07);
  }
  &#{c(other cv emojiPickerItemDisabled)} {
    filter: grayscale(1);
  }
}
#{c(modals emoji imageLoading)} {
  #{c(main dark)} & {
    background-image: none;
  }
}
#{c(modals expressionPicker inspector)} {
  background-color: transparent;
}

// CATEGORIES
#{c(modals emoji categoryList)},
#{c(modals sidebarList wrapper)} {
  background-color: transparent;
}
#{c(modals emoji categoryItem)} {
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
  &#{c(modals emoji defaultCategorySelected)} {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
}
#{c(modals emoji categoryIcon)} {
  color: hsla(0, 0%, 100%, 0.7);
  #{c(modals emoji defaultCategorySelected)} & {
    color: #fff;
  }
}
#{c(modals sticker listGuildIcon)} {
  background-color: transparent;
}
#{c(modals emoji unicodeShortcut)} {
  background-color: cv('colors.main');
  svg {
    color: hsla(0, 0%, 100%, 0.9);
  }
  &:hover {
    background-color: cv('colors.hover');
    svg {
      color: #fff;
    }
  }
}

// NO NITRO
#{c(other cv emojiPickerPremiumPromo)} {
  background-color: hsla(0, 0%, 0%, 0.9);
}
#{c(other cv emojiPickerPremiumPromoClose)} {
  filter: brightness(0) invert(1);
  opacity: 0.6;
  &:hover {
    opacity: 0.8;
  }
}
#{c(other cv emojiPickerPremiumPromoTitle)} {
  color: #fff;
}
#{c(modals sticker upsell)} {
  background-color: transparent;
}
#{c(modals sidebarList lockedCategory)} {
  background: cv('colors.main');
  border-color: cv('colors.main');
}
#{c(modals emoji floating upsellContainer)} {
  background: var(--background-overlay);
  border: 2px solid cv('colors.main');
}
// NITRO EXPIRING NOTICE
#{c(modals emoji premiumRetention)} {
  background-color: hsla(0, 0%, 100%, 0.1);
}
