@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* GROUP INVITE POPOUT */
#{c(main dark)} {
  #{c(modals groupDm popout)} {
    &#{c(modals root)} {
      background-color: cv('bg.general.popout');
    }
  }
}

// SEARCH
#{c(modals groupDm searchBar)} {
  #{c(modals groupDm searchBarComponent)} {
    background-color: hsla(0, 0%, 100%, 0.07);
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.09);
  }
}
#{c(modals searchBar tag)} {
  background: cv('colors.main');
  color: #fff;
}

// FRIEND
#{c(other cv groupInvitePopoutFriend)} {
  transition: all 0.15s ease-in-out;
  #{c(main dark)} &#{c(other cv groupInvitePopoutFriendSelected)} {
    background: hsla(0, 0%, 100%, 0.1);
    #{c(other cv groupInvitePopoutNickname)} {
      color: #fff;
    }
    #{c(other cv groupInvitePopoutDiscordTag)} {
      color: hsla(0, 0%, 100%, 0.5);
    }
    // #{c(other cv groupInvitePopoutCheckbox)} {
    //   background: hsla(0, 0%, 100%, 0.1);
    // }
  }
}
#{c(other cv groupInvitePopoutNickname)} {
  color: hsla(0, 0%, 100%, 0.7);
  transition: all 0.15s ease-in-out;
}
#{c(other cv groupInvitePopoutDiscordTag)} {
  color: hsla(0, 0%, 100%, 0.3);
  opacity: 1;
  transition: all 0.15s ease-in-out;
}

// FOOTER
#{c(modals groupDm footerSeparator)} {
  box-shadow: 0 -1px 0 hsla(0, 0%, 100%, 0.04);
}
