@use "backend" as *;

/* MESSAGES POPOUT AKA. INBOX */

/* MESSAGES POPOUT */
#{c(modals headerDropdown messagesPopoutWrap)},
#{c(modals inbox popout)} {
  background-color: cv('bg.general.popout');
  animation: cv-menu-fold-y 0.2s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  transform-origin: 50% 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#{c(modals headerDropdown header)},
#{c(modals pinned footer)} {
  background-color: transparent;
}

// TAB BAR
#{c(main dark)} #{c(modals headerDropdown header)} #{c(modals inbox tabBar)} #{c(modals inbox tab)} {
  color: #fff;
  &#{c(modals inbox tabActive)} {
    background-color: cv('colors.main');
  }
  &:hover:not(#{c(modals inbox tabActive)}) {
    background-color: hsla(0, 0%, 100%, 0.06);
    color: #fff;
  }
}

// CHANNEL HEADER
#{c(modals inbox channelHeader)} {
  background: hsla(0, 0%, 0%, 0.8);
  padding-right: 10px;
  padding-left: 20px;
}
#{c(modals inbox guildIcon)} {
  background-color: transparent;
}

// PINNED MESSAGES
#{c(modals pinned messageGroup)} {
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.04);
  border-radius: 0;
  transition: all 0.15s ease-in-out;
  &:last-child {
    border-bottom: none;
  }
  + #{c(modals pinned messageGroup)} {
    margin-top: -1px;
  }
}
#{c(modals pinned jumpButton)} {
  background-color: cv('colors.main');
  color: #fff;
  &:hover {
    background-color: cv('colors.hover');
    color: #fff;
  }
}

// RECENT MENTIONS MESSAGES
#{c(modals inbox mentions container)} {
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.08);
  border-radius: 0;
}
#{c(modals inbox mentions messageContainer)} {
  background: transparent;
  padding-right: 10px;
  padding-left: 20px;
}
#{c(modals inbox jumpButton)} {
  background-color: cv('colors.main');
  #{c(modals inbox jumpButtonText)} {
    color: #fff;
  }
  &:hover {
    background-color: cv('colors.hover');
    #{c(modals inbox jumpButtonText)} {
      color: #fff;
    }
  }
}
#{c(modals inbox emptyIcon)} {
  background-color: cv('colors.main');
  color: #fff;
}

// UNREAD MESSAGES
#{c(modals inbox unread tutorial)} {
  background: transparent;
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.08);
}
#{c(modals inbox unread tutorialIcon)} {
  background-color: cv('colors.main');
  color: #fff;
}
#{c(modals inbox unread channel)} {
  margin: 0;
  background-color: transparent;
  border: none;
  border-bottom: solid 1px hsla(0, 0%, 100%, 0.08);
  border-radius: 0;
}
#{c(modals inbox unread messages)} {
  background: transparent;
  padding-right: 10px;
  padding-left: 20px;
}
#{c(modals inbox unread collapseButton)} {
  padding-left: 9px;
}

// FOR YOU
#{c(modals inbox forYou bodyContainer)} {
  background: transparent;
}

// FRIENDS BUTTON
#{c(modals inbox friendRequestsButton)} {
  background: cv('colors.main');
  color: #fff;
  &:hover {
    background: cv('colors.hover');
  }
}

// FORUM POST
#{c(other cv messagesPopoutThread)} {
  background: rgba(0, 0, 0, 0.1);
  border: 2px solid cv('colors.main');
  &:hover {
    border: 2px solid cv('colors.hover');
  }
}

// INBOX UNREAD PILL
#{c(other cv inboxPopoutPill)} {
  background-color: cv('colors.main');
}

// CHATTING ABOUT: TOPIC
#{c(other cv inboxChattingAbout)} {
  background-color: hsla(0, 0%, 30%, calc(cv('bg.app.shading') * 0.5));
}
