@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

// VC ACTIVITY STATUS POPOUT
#{c(other cv vcActivityPopout)},
#{c(other cv vcSetActivityPopout)} {
  background-color: cv('bg.general.popout');
}
#{c(other cv vcSetActivityPopoutIcon)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  border-color: hsla(0, 0%, 100%, 0.09);
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-color: cv('colors.hover');
  }
}
#{c(other cv vcSetActivityPopoutButton)} {
  background-color: cv('colors.main');
  border-color: transparent;
  &:hover {
    background-color: cv('colors.hover');
    border-color: transparent;
  }
}

// LEAVE SERVER REASON
#{c(modals problemInfo root)} {
  background-color: transparent;
}
#{c(modals problemInfo option)} {
  color: #fff;
  background: hsla(0, 0%, 100%, 0.03);
  border: 1px solid hsla(0, 0%, 100%, 0.05);
  border-top: none;
  &:first-child {
    border-top: 1px solid hsla(0, 0%, 100%, 0.05);
  }
  &:hover {
    background: hsla(0, 0%, 100%, 0.06);
  }
}

// NITRO PROFILE PICTURE UPSELL
/*right popout*/
#{c(other cv sidebarPFPUpsell)} {
  background: var(--background-overlay);
  border-left: 5px solid cv('colors.main');
}
