@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* Region Selector */

#{c(main dark)} #{c(modals regionSelect popout)} {
  background-color: cv('bg.general.popout');

  #{c(call quickSelectPopoutOption)} {
    background-color: transparent;
    border: none;
    //box-shadow: 0 0 0 2px rgba(255,255,255,0.07);
    &.selected {
      background-color: cv('colors.main');
    }
    &:hover {
      //box-shadow: 0 0 2px 2px cv('colors.hover');
      background-color: cv('colors.hover');
    }

    #{c(other cv regionSelectName)} {
      color: #fff;
    }
  }
}
