@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* SOUNDBOARD */

#{c(other cv soundboard)} {
  background-color: cv('bg.general.popout');
}
#{c(other cv soundboardButton)} {
  background: transparent;
  border: 1px solid cv('colors.main');
  box-shadow: inset 0 -4px cv('colors.main');
  transition: all 0.15s ease-in-out;
  &:hover {
    background: cv('colors.hover');
  }
  &:active:not(:focus-within) {
    background: cv('colors.hover');
    border: 1px solid cv('colors.main');
    box-shadow: inset 0 -2px cv('colors.main');
    #{c(other cv soundboardSoundName)} {
      color: cv('text.normal');
    }
  }
}
#{c(other cv soundboardSoundName)},
#{c(other cv soundboardAddText)},
#{c(other cv soundboardSecondaryButton)} {
  color: cv('text.normal');
}
