@use "backend" as *;

/* SOUNDBOARD */

#{c(modals soundboard modal)} {
  &,
  &#{c(modals soundboard refresh)} {
    background-color: cv('bg.general.popout');
  }
}
#{c(modals soundboard sound button button)} {
  background: transparent;
  border: 1px solid cv('colors.main');
  box-shadow: inset 0 -4px cv('colors.main');
  transition: all 0.15s ease-in-out;
  &:hover {
    background: cv('colors.hover');
  }
  &:active:not(:focus-within) {
    background: cv('colors.hover');
    border: 1px solid cv('colors.main');
    box-shadow: inset 0 -2px cv('colors.main');
    #{c(modals soundboard sound button name)} {
      color: cv('text.normal');
    }
  }
}
#{c(modals soundboard sound button name)},
#{c(modals soundboard sound add text)},
#{c(modals soundboard sound secondary button)} {
  color: cv('text.normal');
}
