@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* STICKERS */

// SEARCH
#{c(modals searchBar container)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  margin-top: 2px;
  &:focus-within {
    box-shadow: 0 0 2px 2px cv('colors.main');
    transition: all 0.15s ease-in-out;
  }
  #{c(modals searchBar input)} {
    color: #fff;
    &::placeholder {
      color: hsla(0, 0%, 100%, 0.3);
    }
  }
}

// CATEGORY
#{c(modals sticker categoryGeneric)} {
  color: hsla(0, 0%, 100%, 0.7);
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.07);
    border-radius: 4px;
  }
}
#{c(modals sticker categoryGenericSelected)},
#{c(modals sticker categoryGenericSelected)}:hover {
  background-color: cv('colors.main');
  color: #fff;
}

// PICKER
#{c(modals sticker packRow)} {
  column-gap: 8px !important;
}
#{c(modals sticker inspected)} #{c(modals sticker inspectedIndicator)} {
  background-color: cv('colors.main');
}

// SUGGESTION
#{c(main dark)} #{c(modals stickerSuggestion background)} {
  opacity: 1;
  background-color: hsla(0, 0%, 0%, 0.8);
  border: none;
}

#{c(modals stickerSuggestion maskBackground)} {
  background: cv('colors.hover');
}
