@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* THREADS POPOUT */
#{c(main layer)} #{c(modals threads container)} {
  background-color: cv('bg.general.popout');
  animation: cv-menu-fold-y 0.2s cubic-bezier(0.2, 0.6, 0.5, 1.1);
  transform-origin: 50% 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#{c(modals threads searchBox)} {
  background: hsla(0, 0%, 100%, 0.07);
  &::placeholder {
    color: hsla(0, 0%, 100%, 0.3);
  }
}
#{c(modals threads header)} {
  background-color: transparent;
}
#{c(modals threads emptyIcon)} {
  background-color: cv('colors.main');
  color: #fff;
}
