@use "backend" as *;

//Voice Channel listening to or playing x game
#{c(other cv voiceChannelListening)} {
  background: cv('bg.general.popout');
}
#{c(other cv voiceChannelListeningIcon)} {
  background: cv('colors.main');
  > svg {
    color: #fff;
  }
}
