@use "backend" as *;

/* USER ACTIVITY */
:is(#{c(profile activity activity userPopoutV2)},#{c(profile activity activity profileV2)}) {
  #{c(profile activity nameNormal)} {
    color: cv('colors.main');
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    font-weight: 600;
    > #{c(profile activity activityName)} {
      color: inherit;
      &#{c(profile activity bodyLink)}:hover {
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 1px;
      }
    }
  }
  #{c(profile activity timestamp)} {
    font-style: italic;
  }
  #{c(profile activity bodyLink)} {
    @include hover-shadow;
  }
}
