@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* APP DIRECTORY */
#{c(main dark)} #{c(other cv directoryContainer)} {
  background: transparent;
  &:before {
    content: '';
    @include stretch;
    position: fixed;
    z-index: -1;
    background: cv('bg.app.img') cv('bg.app.pos') / cv('bg.app.size') cv('bg.app.repeat') cv('bg.app.attach');
    @include filters(cv('bg.app'));
  }
}

// HOME PAGE
#{c(other cv directoryCategory)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
  &:hover {
    background: cv('colors.hover');
  }
}
#{c(other cv directoryCard)},
#{c(other cv directoryNewToApps)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
}
#{c(other cv directoryListCard)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
  &#{c(other cv directoryCardClickable)}:hover {
    background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.6));
    color: #fff;
    // #{c(other cv textMediumNormal)} {
    //   color: #fff;
    // }
  }
}
#{c(other cv directoryFooter)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
}

// SEARCH
#{c(main dark)} {
  #{c(other cv directorySearchBar)} {
    background: hsla(0, 0%, 100%, 0.07) !important;
    border: none;
    box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
    &:focus-within {
      box-shadow: 0 0 2px 2px cv('colors.main');
      transition: all 0.15s ease-in-out;
    }
    #{c(other cv input)} {
      color: #fff;
      box-shadow: none;
      &::placeholder {
        color: hsla(0, 0%, 100%, 0.3);
      }
    }
  }
}
#{c(other cv directorySearchCategoryActive)} {
  background: cv('colors.main');
}

// APP PAGE
#{c(other cv directoryAppCategory)} {
  background-color: hsla(0, 0%, 100%, 0.1);
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.15);
  }
}
#{c(other cv directoryAppSupportServer)} {
  background-color: hsla(0, 0%, 0%, 0.6);
}
#{c(other cv directoryAppCommandList)},
#{c(other cv directoryAppPermissionList)},
#{c(other cv directoryAppIntentList)},
#{c(other cv directoryAppPremiumCardHeader)},
#{c(other cv directoryAppPremiumContainer)} {
  background: hsla(0, 0%, 0%, 0.4);
}
#{c(other cv directoryAppCommand)} {
  background: transparent;
  border: 1px solid cv('colors.main');
}
