@use "backend" as *;

/* DISCORD SHOP */
#{c(other cv shopPreview)} {
  background: rgba(0, 0, 0, 0.6);
}
#{c(other cv popularPicksShopAll)} {
  background: cv('colors.main');
  &:hover {
    background: cv('colors.hover');
  }
}
#{c(other cv shopAll)} {
  background-color: transparent;
}
#{c(other cv shopBackground)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.4));
}
#{c(other cv shopPageWrapper)} {
  background-color: transparent;
}
#{c(other cv shopHeader)} {
  background-color: transparent !important;
}

// LOADING
#{c(other cv shopLoadingSkeleton)} {
  background-color: hsla(0, 0%, 100%, 0.07);
}
#{c(other cv shopLoadingBanner)},
#{c(other cv shopLoadingCard)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}
#{c(other cv shopLoadingCardContent)} {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// CARD
#{c(other cv shopCardNitro)},
#{c(other cv shopCard)} {
  background-color: rgba(0, 0, 0, 0.4) !important;
  border-color: cv('colors.main') !important;
  &:hover {
    background-color: rgba(0, 0, 0, 0.6) !important;
    border-color: cv('colors.hover') !important;
  }
}
#{c(other cv shopCardDarkBackgroundNitro)},
#{c(other cv shopCardDarkBackground)} {
  background-color: rgba(0, 0, 0, 0.6);
}

// PREVIEW
#{c(other cv shopPreviewInfo)} {
  background-color: transparent;
}
#{c(other cv shopChatPreview)} {
  left: 0;
  bottom: 0;
  margin: 10px auto 0 auto;
}
#{c(other cv shopMockInput)} {
  background-color: hsla(0, 0%, 100%, 0.07);
}

// SERVER SHOP
/* intro container */
#{c(other cv serverShopIntro)} {
  background: var(--background-overlay);
  border: 2px solid cv('colors.main');
  &:hover {
    background: var(--background-overlay);
    border: 2px solid cv('colors.hover');
  }
}
/* support the server perks */
#{c(other cv serverShopSelected)} {
  background: cv('colors.main');
}

// Buy Nitro
#{c(other cv nitroShopGiftNitro)} {
  color: cv('text.normal') !important;
  background-color: cv('colors.main') !important;
  border-color: transparent !important;
  &:hover {
    background-color: cv('colors.hover') !important;
    color: cv('text.normal') !important;
  }
}

// // Subscribe button
// #{c(other cv buttonInverted)}#{c(button colorBrand)} {
//   background: cv('colors.main');
//   color: cv('text.normal');
//   &:hover {
//     background: cv('colors.hover');
//     color: cv('text.normal');
//   }
// }

// Shop new pill
#{c(other cv shopNewPill)} {
  background: radial-gradient(ellipse at 120%200%, cv('colors.main') 10%, transparent 70%);
}

// Shop what's new
#{c(other cv shopWhatsNew)} {
  background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.8));
}
