@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* FORUMS */
// main container
#{c(main dark)} #{c(forums container)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.3));
}
// HEADER
#{c(forums header)} {
  background-color: transparent;
}

// SEARCH
#{c(forums title)} {
  font-family: var(--main-font);
  font-weight: 300;
  padding: 0 5px 0 5px;
  border-radius: 4px;
}
#{c(forums matchingPostsRow)} {
  background-color: rgba(0, 0, 0, 0.3);
}

// NEW POST
#{c(forums upload uploadInput)} {
  background: cv('colors.main');
  transition: all 0.15s ease-in-out;
  &:hover {
    background: cv('colors.hover');
    transition: all 0.15s ease-in-out;
  }
}
#{c(forums upload uploadIcon)} {
  color: #fff;
}

// BE THE FIRST TO START A CONVERSATION
#{c(other cv forumFirstIcon)} {
  background: cv('colors.main');
  color: #fff;
}

// GET STARTED
#{c(other cv forumSetupContainer)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}
#{c(other cv forumSetupStepContainer)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  border: 2px solid cv('colors.main');
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.09);
    border: 2px solid cv('colors.hover');
  }
}
#{c(other cv forumSetupStepStatus)} {
  background-color: transparent !important;
}

// GALLERY VIEW
#{c(forums grid card)} {
  background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.3));
  border: 2px solid cv('colors.main');
  &:hover {
    background: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.3));
    border: 2px solid cv('colors.hover');
  }
  // &#{c(other cv forumOpen)} {
  //   background-color: hsla(0, 0%, 100%, 0.1);
  //   border-color: cv('colors.main');
  // }
  &#{c(forums grid isOpen)} {
    background: hsla(0, 0%, 0%, 0.3);
    border: 2px solid var(--success-color);
  }
}
#{c(forums grid contentPreview)} {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-color: hsla(0, 0%, 100%, 0.09);
}

// LIST VIEW
#{c(main dark)} {
  #{c(forums list card)},
  #{c(other cv forumIncreasedCard)} {
    background: hsla(0, 0%, 0%, 0.3);
    border: 2px solid cv('colors.main');
    &:hover {
      background: hsla(0, 0%, 0%, 0.3);
      border: 2px solid cv('colors.hover');
    }
    &#{c(forums list isOpen)} {
      background: hsla(0, 0%, 0%, 0.3);
      border: 2px solid var(--success-color);
    }
  }
}
// fix the increased view's new reply feature
#{c(other cv forumIncreasedReplyPreview)} {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-color: 2px solid cv('colors.main');
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.05);
    border-color: 2px solid cv('colors.hover');
  }
}

// SHARED
#{c(other cv forumPinIcon)} {
  background-color: cv('colors.main');
}
#{c(forums loadingCard card)} {
  background: hsla(0, 0%, 0%, 0.3);
}

// TAGS
#{c(main dark)} #{c(pages tags pill)},
#{c(main dark)} #{c(other cv forumIncreasedTag)} {
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid cv('colors.main');
  &#{c(pages tags clickable)}:not(#{c(pages tags disabled)}):hover {
    background: transparent;
    border: 2px solid cv('colors.hover');
  }
  &#{c(pages tags selected)} {
    border: 2px solid var(--success-color);
  }
}
#{c(main dark)} #{c(other cv forumIncreasedTag)} {
  border-radius: 20px;
  height: 32px;
  width: fit-content;
  text-align: center;
  padding: 0 10px;
}
// typing animation & message count
/*icon*/
#{c(forums list messageCountIcon)} > svg {
  color: var(--channel-color);
}
/*post unread, message count, old*/
/*important needed for inline*/
#{c(forums list newMessageCount)} {
  color: cv('colors.main') !important;
}
/* the !important is technically not needed but saves a rule
 in #{c(forums list card)}#{c(forums list isOpen)} [partial rule redaction bc comment],
 which creates an overriding inline rule*/
#{c(forums grid dots)}, /*old forums*/
#{c(forums list dots)} {
  /*new forums*/
  background-color: rgba(0, 0, 0, 0.6);
  border: 2px solid cv('colors.main') !important;
}

// tag box etc
#{c(forums tags popout container)} {
  background: rgba(0, 0, 0, 0.7);
  #{c(forums tags popout count)} {
    background-color: cv('colors.main');
  }
  #{c(forums tags popout clear)} {
    color: cv('colors.main');
    &:hover {
      color: cv('colors.hover');
    }
  }
}
#{c(other cv forumTagSelectedCount)} {
  background: cv('colors.main');
}
#{c(forums tags dropdown)} {
  background-color: cv('colors.main');
  #{c(forums tags dropdownInner)},
  #{c(forums tags dropdownText)} {
    color: #fff !important;
  }
}
#{c(forums tags dropdownPopoutContainer)} {
  background-color: transparent;
}
#{c(forums tags tagsButton)} {
  background-color: rgba(0, 0, 0, 0.3);
  #{c(forums tags tagsButtonInner)} {
    color: #fff;
  }
}
#{c(main dark)} #{c(forums grid textContentFooter)} {
  background: transparent;
}

// GUIDELINES
#{c(forums guidelines container)} {
  background: rgba(0, 0, 0, 0.3);
  border: 2px solid cv('colors.main');
  #{c(forums guidelines descriptionContainer)} {
    background: rgba(0, 0, 0, 0.3);
  }
  #{c(forums guidelines gradient)} {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8), transparent);
  }
  #{c(forums guidelines showMoreLinkContainer)} {
    background: rgba(0, 0, 0, 0.8);
  }
}
#{c(forums guidelines showMoreText)} {
  color: cv('colors.main') !important;
}

// CHAT
#{c(threads container)} {
  background: transparent;
  &#{c(threads floating)} {
    background-color: hsla(0, 0%, 0%, 0.6);
    border-color: hsla(0, 0%, 100%, 0.07);
  }
}
#{c(forums open header iconWrapper)} {
  background: cv('colors.main');
}
#{c(forums open header icon)} path {
  fill: #fff;
}
#{c(forums open topBar container)},
#{c(forums open topBarDividerSibling)},
#{c(other cv forumChatStartBox)} {
  background-color: transparent;
}
#{c(other cv forumChatStartBox)}:after {
  border-color: transparent;
}
#{c(forums open topBar buttonInner)} {
  background-color: hsla(0, 0%, 100%, 0.05);
  border-radius: 3px;
  transition: all 0.15s ease-in-out;
  &:hover {
    background-color: hsla(0, 0%, 100%, 0.2);
    border-color: hsla(0, 0%, 100%, 0.2);
    color: #fff;
  }
  &#{c(forums open topBar active)} {
    color: cv('colors.main');
    &:hover {
      color: cv('colors.hover');
    }
  }
}

// admin/creation
#{c(main dark)} #{c(other cv forumSettingsGuidelinesToolbar)} {
  background: hsla(0, 0%, 0%, 0.6);
  > #{c(chatForm channelTextAreaBase)} {
    border-radius: 0 0 8px 8px;
  }
}
#{c(other cv forumSettingsGuidelinesAddTags)} {
  background: cv('colors.main');
}

// EMPTY FORUM
#{c(other cv forumEmpty)} {
  background-color: transparent;
}
#{c(other cv forumEmptyCTA)} {
  color: cv('colors.main');
  #{c(main dark)} &:hover {
    color: cv('colors.hover');
  }
}

// EXAMPLE
#{c(other cv forumExample)},
#{c(other cv forumExamplePreviewContainer)} {
  background-color: transparent;
}
#{c(other cv forumExampleTag)},
#{c(other cv forumExamplePost)},
#{c(other cv forumExamplePreview)} {
  background-color: hsla(0, 0%, 100%, 0.09);
}
#{c(other cv forumExamplePreviewPostIcon)},
#{c(other cv forumExamplePreviewBottomSeparator)} {
  background-color: transparent;
}
#{c(other cv forumExamplePreviewInput)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// new posts button
#{c(other cv forumNewPosts)} {
  background: rgba(0, 0, 0, 0.4);
  border: 2px solid cv('colors.main');
  // #{c(other cv textMediumMedium)} {
  //   color: cv('colors.main') !important;
  // }
}
