@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* LOGIN PAGE */
#{c(main dark)} #{c(login authBox)} {
  background-color: hsla(0, 0%, 0%, 0.8);
  a {
    color: var(--url-color);
  }
}
#{c(other cv loginAccountsList)} {
  background-color: hsla(0, 0%, 100%, 0.07);
}
#{c(other cv loginStartOverButton)} {
  color: var(--url-color);
}
#{c(other cv loginVerificationContainer)} {
  background-color: transparent;
}
