@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* SERVER BOOST */
/*bottom boost this server background*/
#{c(other cv serverBoostPageBoostPrompt)} {
  background: rgba(0, 0, 0, 0.8);
}
/*perks card eg "hd streaming"*/
#{c(other cv serverBoostPageTopPerksCard)} {
  background: rgba(0, 0, 0, 0.4);
}
/*give your community a boost*/
#{c(other cv serverBoostPageCard)} {
  background: rgba(0, 0, 0, 0.2);
}
/*boosting faq*/
#{c(other cv serverBoostPageFaq)} {
  background: rgba(0, 0, 0, 0.4);
}
/*greater bg, needs more work*/
#{c(other cv serverBoostPageScroller)} {
  background: transparent;
}
/*paths*/
#{c(other cv serverBoostPageHeaderWave)} > path {
  display: none;
}
#{c(other cv serverBoostPageBodyWave)} > path {
  fill: rgba(0, 0, 0, 0.8) !important;
}

// Boost this server
// #{c(other cv boosServerPerkRow)} {
//   border-bottom: 1px solid cv('colors.main');
//   &:hover {
//     background-color: hsla(0, 0%, 100%, 0.07);
//   }
// }

#{c(other cv boostServerPerks)} {
  background-color: rgba(0, 0, 0, 0.4);
}

#{c(other cv readyToBoostContainer)} {
  background-color: rgba(0, 0, 0, 0.6);
}
#{c(other cv readyToBoostProgressPill)} {
  background-color: cv('colors.main');
}
