@use "sass:map";
@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* APP */
#{c(main appMount)} {
  background: cv('bg.app.overlay');
}
#{c(main appInner)},
body {
  background: transparent;
}
#{c(main bg)} {
  background: cv('bg.app.img') cv('bg.app.pos') / cv('bg.app.size') cv('bg.app.repeat') cv('bg.app.attach');
  @include filters(cv('bg.app'));
  z-index: -9999;
}
#{c(main appMount)} {
  #{c(main appLayers)},
  #{c(main appLayer)} {
    background: transparent;
  }
}
#{c(main container)} {
  #{c(main base)} {
    border-radius: 0;
  }
}
#{c(main backdrop)} {
  background: cv('bg.backdrop.overlay') !important;
}

#{c(other cv loading)} {
  background-color: transparent;
  &:before,
  &:after {
    content: '';
    position: absolute;
    @include stretch;
    border: 3px solid transparent;
    border-radius: 50%;
    margin: auto;
    filter: drop-shadow(0 0 3px cv('colors.main'));
    animation: cv-spin 1s ease-in-out infinite;
  }
  &:before {
    height: 26px;
    width: 26px;
    border-left-color: cv('colors.main');
    border-right-color: cv('colors.main');
  }
  &:after {
    height: 16px;
    width: 16px;
    border-top-color: cv('colors.main');
    border-bottom-color: cv('colors.main');
    animation-direction: reverse;
  }
}

// FONT
body,
button,
input,
select,
textarea,
::placeholder {
  font-family: cv('font.main');
}

// SELECTION
::selection {
  color: #fff;
  background: cv('colors.main');
}
