@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* APP NOTICE */
#{c(notice base)} {
  border-radius: 3px;
  &#{c(notice colorDefault)} {
    background: rgba(#43b581, 0.6);
  }
  &#{c(notice colorDanger)} {
    background: rgba(#f04747, 0.6);
  }
  &#{c(notice colorStreamerMode)} {
    background: rgba(cv('const:colors.twitch-purple'), 0.6);
  }
  #{c(other cv noticeTextLink)} {
    color: #fff;
  }
  &#{c(notice completeSteps)} {
    background: rgba(0, 0, 0, 0.6);
  }
}
