@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* HEADER BAR BREADCRUMBS */
#{c(other cv breadcrumbs)} {
  margin-left: 2px;
  #{c(other cv breadcrumb)} {
    margin: 0 3px;
    transition: all 0.15s ease-in-out;
  }
  #{c(other cv breadcrumbArrow)} {
    transition: all 0.15s ease-in-out;
  }
  #{c(other cv breadcrumbWrapper)} {
    color: hsla(0, 0%, 100%, 0.3);
    &:hover {
      #{c(other cv breadcrumb)} {
        color: hsla(0, 0%, 100%, 0.7);
        text-decoration: none;
      }
      #{c(other cv breadcrumbArrow)} {
        &#{c(other cv directionRight)} {
          color: hsla(0, 0%, 100%, 0.7);
          transform: rotateY(180deg) rotateZ(-90deg) translateY(3px);
        }
      }
    }
  }
}
