@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

// NUMBER BADGE (AKA PINGS)
#{c(serverList numberBadge)},
#{c(other cv textBadge)} {
  background: cv('colors.main') !important;
  box-shadow: 0 0 10px -3px cv('colors.main'), 0 0 0 1px cv('colors.main');
  color: #fff;
  font-weight: 600;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.25);
  transition: all 0.3s ease-in-out;
}
#{c(serverList numberBadge)} {
  font-size: 12px;
  line-height: 12px;
}
#{c(sidebar channelModeSelected)},
#{c(sidebar privateChannelInteractiveSelected)},
#{c(tab selected)} {
  #{c(serverList numberBadge)},
  #{c(other cv textBadge)} {
    background: #fff !important;
    box-shadow: none;
    color: cv('colors.main');
    mix-blend-mode: screen;
  }
}

// FLOWER STAR BADGE
#{c(other cv flowerStarContainer)} {
  color: cv('colors.main');
  #{c(other cv flowerStarIcon)} {
    color: #fff;
  }
  #{c(other cv flowerStarChild)} {
    > svg {
      color: #fff;
    }
  }
}

#{c(other cv gameVerifiedIcon)} > svg > path {
  fill: cv('colors.main');
}

// COMMUNITY GUILD BADGE
#{c(other cv guildIconChildContainer)} path[fill='var(--primary-500)'] {
  fill: hsla(0, 0%, 0%, 0.9);
}

// 1 MONTH FREE NITRO
#{c(other cv nitroTrialBadge)} {
  background-color: cv('colors.main');
}
