@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* BUTTON */
#{c(button button)} {
  border-radius: 3px;
  transition: background-color 0.3s ease-in-out;
}

// BUTTON FILLED
#{c(button lookFilled)} {
  &#{c(button colorBrand)},
  &#{c(button colorGreen)},
  &#{c(call inviteButton)},
  &#{c(button colorPrimary)} {
    background: cv('colors.main');
    color: #fff;
    &:hover {
      background: cv('colors.hover');
    }
    &:disabled {
      background: cv('colors.danger');
    }
    &:active {
      background: cv('colors.success');
    }
  }
  &#{c(button colorRed)} {
    background-color: cv('colors.danger');
  }
  &#{c(button colorBrandInverted)},
  &#{c(button colorWhite)} {
    background: #fff;
    color: cv('colors.main');
    &:hover,
    &:active {
      background: hsla(0, 0%, 100%, 0.95);
      color: cv('colors.hover');
    }
    &:disabled {
      background: hsla(0, 0%, 100%, 0.3);
    }
  }
  // EMBED BUTTON
  #{c(chat messageAttachmentsContainer)} & {
    &#{c(button colorGreen)} {
      background-color: cv('colors.success');
      &:hover,
      &:active {
        background-color: hsl(139, calc(var(--saturation-factor, 1) * 47.1%), 33.3%);
      }
    }
  }
}

// BUTTON OUTLINED
#{c(button lookOutlined)} {
  &#{c(button colorWhite)},
  &#{c(button colorPrimary)},
  &#{c(button colorGreen)},
  &#{c(button colorBrand)} {
    border-color: cv('colors.main');
    color: hsla(0, 0%, 100%, 0.8);
    &:hover {
      background-color: transparent;
      border-color: cv('colors.hover');
      color: #fff;
    }
  }
  &#{c(button colorRed)} {
    border-color: cv('colors.danger');
    color: hsla(0, 0%, 100%, 0.8);
    &:hover {
      background-color: transparent;
      color: #fff;
    }
  }
}

// BUTTON LINK
#{c(button lookLink)} {
  &#{c(button colorWhite)},
  &#{c(button colorPrimary)} {
    color: #fff;
  }
  &#{c(button colorBrand)} {
    color: cv('colors.main');
  }
  &#{c(button colorLink)} {
    color: var(--url-color);
    &:disabled:hover #{c(button contents)} {
      text-decoration: none;
    }
  }
  &#{c(button colorRed)} {
    color: cv('colors.danger');
  }
  &:hover #{c(button contents)} {
    background-image: none;
    text-decoration: underline;
  }
}

// CIRCLE
#{c(modals inbox roundButton)} {
  background-color: hsla(0, 0%, 0%, 0.6);
  color: #fff;
  &:hover {
    &:not(#{c(modals inbox buttonDisabled)}) {
      background-color: cv('colors.hover');
      color: #fff;
    }
  }
}
