@use "backend" as *;

/* INPUT */
#{c(forums inputWrapper)} {
  padding: 2px;
}
#{c(other cv input)} {
  color: cv('text.normal');
  background-color: hsla(0, 0%, 100%, 0.07);
  border: none;
  box-shadow: 0 0 0 2px hsla(0, 0%, 100%, 0.09);
  &::placeholder {
    color: hsla(0, 0%, 100%, 0.3);
  }
  &:hover {
    border: none;
  }
  &:focus,
  &#{c(other cv inputFocused)} {
    box-shadow: 0 0 2px 2px cv('colors.main');
  }
  &#{c(login inputField)} {
    border: none;
    box-shadow: none;
    background: none;
  }
  #{c(other cv inputMultiField)} {
    background-color: transparent;
    box-shadow: none;
  }
  #{c(other cv inputCopy)} & {
    background-color: transparent;
    box-shadow: none;
  }
}
