@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

// PAGE CONTROL
#{c(main dark)} {
  #{c(search pageButton)} {
    &#{c(search activeButton)},
    &#{c(search activeButton)}:hover {
      background-color: cv('colors.main');
    }
    &:hover {
      background-color: cv('colors.hover');
      &:disabled {
        background-color: transparent;
      }
    }
  }
}
#{c(search endButton)} {
  &:disabled {
    border-color: cv('colors.main');
    color: #fff;
    opacity: 0.5;
    cursor: not-allowed;
  }
  &:not(:disabled):hover {
    border-color: cv('colors.hover');
  }
}
