@use "backend" as *;

/* RADIO */
#{c(userSettings radioGroupItem)} {
  background-color: transparent;
  color: #fff;
  &:hover {
    &:not([aria-checked='true']):not(#{c(other cv radioItemDisabled)}) {
      background-color: transparent;
      color: #fff;
    }
  }
  #{c(userSettings radioBar)} {
    background-color: rgba(0, 0, 0, 0.4);
    border-left: 3px solid var(--radio-bar-accent-color);
    transition: all 0.15s ease-in-out;
  }
  &[aria-checked='true'] {
    #{c(userSettings radioBar)} {
      background-color: var(--radio-bar-accent-color, cv('colors.main'));
    }
  }
  #{c(userSettings radioIconForeground)} {
    color: #fff;
  }
}

// RADIO ACCENTS
#{c(userSettings radioBar)} {
  &[style*='--radio-bar-accent-color:var(--green-360)'] {
    --radio-bar-accent-color: #43b581 !important;
  }
  &[style*='--radio-bar-accent-color:var(--yellow-360)'] {
    --radio-bar-accent-color: #faa61a !important;
  }
  &[style*='--radio-bar-accent-color:var(--red-400)'] {
    --radio-bar-accent-color: #982929 !important;
  }
}
