@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* SCROLLBAR */
// Chrome version fix
#{c(scroller auto)},
#{c(scroller thin)} {
  scrollbar-width: unset !important;
  scrollbar-color: unset !important;
}
// NORMAL SCROLLBAR
#{c(scroller auto)}::-webkit-scrollbar {
  width: 14px;
}
// THIN SCROLLBAR
#{c(scroller thin)}::-webkit-scrollbar {
  width: 10px;
}

// NO SCROLLBAR
#{c(scroller none)}::-webkit-scrollbar {
  width: 0px;
}

// CONTENT
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  border: 3px solid transparent !important;
  border-radius: 7px !important;
  background-clip: padding-box !important;
}
::-webkit-scrollbar-thumb {
  background-color: cv('colors.main') !important;
  &:active {
    background-color: cv('colors.hover') !important;
  }
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
  background-color: transparent !important;
}
#{c(memberList wrap)} {
  #{c(scroller base)} {
    &::-webkit-scrollbar-thumb,
    &::-webkit-scrollbar-track-piece {
      visibility: hidden;
    }
    &:hover {
      &::-webkit-scrollbar-thumb,
      &::-webkit-scrollbar-track-piece {
        visibility: visible;
      }
    }
  }
}
#{c(chat chat)},
#{c(memberList wrap)} {
  #{c(scroller base)} {
    &::-webkit-scrollbar-track-piece {
      background-color: rgba(0, 0, 0, calc(cv('bg.app.shading') * 0.3)) !important;
    }
  }
}
textarea {
  &::-webkit-scrollbar {
    display: none;
  }
}
#{c(other cv shopModal)} {
  &::-webkit-scrollbar {
    width: 0;
  }
}
