@use "backend" as *;

/* SPINNER */
#{c(modals loadingPopout popout)} {
  background-color: hsla(0, 0%, 0%, 0.6);
}
#{c(main loadingSquare)} {
  #{c(main loadingSquareItem)} {
    width: 100%;
    height: 100%;
    background: transparent;
    animation: none;
    filter: drop-shadow(0 0 3px cv('colors.main'));
    &:before,
    &:after {
      content: '';
      position: absolute;
      @include stretch;
      border: 3px solid transparent;
      border-radius: 50%;
    }
    &:before {
      animation: cv-spin 1s ease-in-out infinite;
    }
    &:after {
      border-color: cv('colors.main');
      opacity: 0.1;
    }
    &:first-child {
      &:before {
        border-left-color: cv('colors.main');
        border-right-color: cv('colors.main');
      }
    }
    &:last-child {
      width: calc(100% - 10px);
      height: calc(100% - 10px);
      margin: 5px;
      &:before {
        border-top-color: cv('colors.main');
        border-bottom-color: cv('colors.main');
        animation-direction: reverse;
      }
    }
  }
}
#{c(other cv spinnerCircle)} {
  #{c(other cv spinnerCirclePath)} {
    stroke: cv('colors.main');
    #{c(other cv spinnerCirclePath3)} {
      opacity: 0.2;
    }
  }
}
#{c(other cv spinnerPulsingEllipsisPopout)} {
  background-color: hsla(0, 0%, 0%, 0.6);
}
#{c(other cv spinnerPulsingEllipsis)} #{c(main loadingSquareItem)} {
  background-color: cv('colors.main');
}
