@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* SWITCH */
#{c(slider container)} {
  background-color: transparent !important;
  &:before {
    background-color: hsla(0, 0%, 100%, 0.15);
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: inherit;
    transition: all 0.1s ease-in-out;
  }
  &#{c(slider checked)}:before {
    background-color: cv('colors.main');
  }
  path {
    fill: cv('colors.main');
  }
}
