@use "backend" as *;

/* TAB BAR */
#{c(tab top)} {
  #{c(tab brand)} {
    &#{c(tab item)} {
      &:hover {
        border-bottom-color: cv('colors.hover');
      }
      &#{c(tab selected)},
      &:active {
        border-bottom-color: cv('colors.main');
      }
    }
  }
}

// PILL
#{c(tab topPill)},
#{c(tab side)} {
  #{c(tab themed)} {
    &#{c(tab item)} {
      color: hsla(0, 0%, 100%, 0.5);
      transition: all 0.3s ease-in-out;
      &:hover:not(#{c(tab disabled)}) {
        background-color: hsla(0, 0%, 100%, 0.1);
        color: hsla(0, 0%, 100%, 0.7);
      }
    }
    &#{c(tab selected)} {
      &#{c(tab item)} {
        background-color: cv('colors.main');
        color: #fff;
        &:hover:not(#{c(tab disabled)}) {
          background-color: cv('colors.main');
          color: #fff;
        }
      }
    }
  }
}
