@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* CONNECTIONS */
$colours: (
  'Reddit': #ff4500,
  'Steam': #000000,
  'Twitter': #009ef7,
  'Spotify': #1db954,
  'Xbox Live': #107c10,
  'Battle.net': #0566b0,
  'Facebook': #1877f2,
  'GitHub': #222222,
  'Twitch': #9146ff,
  'YouTube': #ff0000,
);

#{c(userSettings connection)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}
#{c(userSettings connectionHeader)} {
  background-color: transparent;
}

#{c(userSettings connection)} {
  @each $i, $u in $colours {
    &:has(#{c(userSettings connectionIcon)}[alt*='#{$i}']) {
      background-color: rgba($u, 0.5);
    }
  }
}
#{c(userSettings connectionHeader)} {
  @each $i, $u in $colours {
    &:has(#{c(userSettings connectionIcon)}[alt*='#{$i}']) {
      background-color: rgba($u, 0.2);
    }
  }
}
#{c(userSettings connectionAccountLabel)} {
  color: hsla(0, 0%, 100%, 0.7) !important;
}
#{c(userSettings connectionDelete)} {
  color: hsla(0, 0%, 100%, 0.7);
}
#{c(userSettings addAccountMetadataContainer)} {
  background-color: hsla(0, 0%, 100%, 0.1);
}
