@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* CHANNEL SETTINGS */

// HEADER
#{c(userSettings sidebar)} {
  #{c(tab header)} {
    &:has(#{c(other cv channelSettingsCategory)}) {
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: 0.5fr 0.5fr;
      padding: 20px 0;
    }
    &::before {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }
    &:after {
      grid-column: 3 / 4;
      grid-row: 2 / 3;
    }
  }
}
#{c(tab headerText)} {
  &:has(#{c(other cv channelSettingsCategory)}) {
    grid-column: 2 / 3;
    grid-row: 1 / 3;
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-rows: 1.5fr 1fr;
    column-gap: 2px;
    justify-items: center;
  }
}
#{c(other cv channelSettingsCategory)} {
  color: cv('colors.main') !important;
  margin: 0;
  grid-column: 1 / 3;
  grid-row: 1 / 2;
  &::before {
    content: '< ';
  }
  &:after {
    content: ' >';
  }
}

// PERMISSIONS
#{c(channelSettings permGroup)} {
  border: 1px solid hsla(0, 0%, 100%, 0.07);
}
#{c(channelSettings permItem)} {
  background-color: hsla(0, 0%, 0%, 0.4);
  border-color: hsla(0, 0%, 100%, 0.07);
  cursor: pointer;
  &#{c(channelSettings permSelected)} {
    &#{c(channelSettings permDeny)} {
      background-color: rgba($color: #f04747, $alpha: 0.6);
      border-color: #f04747;
    }
    &#{c(channelSettings permNoop)} {
      background-color: rgba($color: #faa61a, $alpha: 0.6);
      border-color: #faa61a;
    }
    &#{c(channelSettings permAllow)} {
      background-color: rgba($color: #43b581, $alpha: 0.6);
      border-color: #43b581;
    }
  }
}
#{c(channelSettings settingsCard)} {
  background-color: rgba(0, 0, 0, 0.4);
  &#{c(channelSettings settingsCardActive)} {
    background-color: rgba(0, 0, 0, 0.4);
  }
}
#{c(channelSettings cardFolder)} {
  background-color: transparent;
}

#{c(channelSettings integrationIconWrapper)} {
  background-color: hsla(0, 0%, 0%, 0.4);
}

// ROLES/MEMBERS DROPDOWN
#{c(main dark)} #{c(other cv channelSettingsRoleDropdownHeader)},
#{c(main dark)} #{c(other cv channelSettingsRoleDropdownContainer)} #{c(other cv channelSettingsRoleDropdownTag)} {
  background-color: cv('bg.general.popout');
}
#{c(other cv channelSettingsRoleDropdownRow)}#{c(other cv channelSettingsRoleDropdownSelected)} #{c(other cv channelSettingsRoleDropdownRowInner)} {
  background-color: hsla(0, 0%, 100%, 0.1);
}
