@use "../../_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* SETTINGS CONTENT */
#{c(userSettings standardSidebarView)} {
  > #{c(userSettings contentRegion)} {
    background: transparent;
  }
}
#{c(userSettings contentRegion)} {
  #{c(userSettings contentRegionScroller)},
  #{c(channelSettings roleScroller)} {
    background: transparent;
  }
}

// CLOSE BUTTON
#{c(main dark)} {
  #{c(userSettings closeButton)} {
    border-color: hsla(0, 0%, 100%, 0.4);
    &:hover {
      border-color: hsla(0, 0%, 100%, 0.6);
      background-color: transparent;
    }
    > svg > path {
      fill: hsla(0, 0%, 100%, 0.6);
    }
  }
  #{c(userSettings closeButtonKeybind)} {
    color: hsla(0, 0%, 100%, 0.6);
  }
}

// UNSAVED CHANGES
#{c(serverSettings noticeContainer)} {
  background-color: hsla(0, 0%, 0%, 0.8) !important;
}

// AVATAR UPLOADER
#{c(other cv settingsImageUploaderInner)} {
  background-color: hsla(0, 0%, 100%, 0.05);
}
#{c(main dark)} #{c(other cv settingsImageUploaderIcon)} {
  background-color: cv('colors.main');
  background-image: none;
  &:after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-image: url(https://discord.com/assets/d5c25e76af04cea8997e4a060572feae.svg);
    background-repeat: no-repeat;
    background-position: 50%;
    filter: brightness(0) invert(1);
    pointer-events: none;
  }
}

// ITEM CARDS
#{c(main dark)} {
  #{c(card card)} {
    &:not(#{c(card outline)}),
    &#{c(card outline)} {
      background-color: rgba(0, 0, 0, 0.4);
      border-color: hsla(0, 0%, 100%, 0.07);
    }
    a {
      color: var(--url-color);
    }
  }
}

// COLOR PICKER
#{c(main dark)} #{c(other cv settingsColorPickerCustom)} {
  background-color: hsla(0, 0%, 0%, 0.8);
  border-color: transparent;
  border-radius: 5px;
}

// WARNING SHAKE
#{c(main appInner)}[style*='transform'] {
  transform: none !important;
  #{c(main bg)} {
    animation: cv-shake 0.5s ease-in;
  }
}

// DROP DOWN
#{c(modals dropdown filled)}#{c(modals dropdown select)} {
  background-color: hsla(0, 0%, 100%, 0.07);
  border-color: hsla(0, 0%, 100%, 0.09);
}
#{c(modals dropdown popout)} {
  background-color: cv('bg.general.popout');
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#{c(modals dropdown option)} {
  &:hover,
  &:focus,
  &#{c(modals dropdown focused)} {
    background-color: hsla(0, 0%, 100%, 0.05);
    border: hsla(0, 0%, 100%, 0.07);
  }
  &[aria-selected='true']:not(#{c(modals dropdown option)}#{c(modals dropdown multi)}) {
    background-color: cv('colors.main');
    #{c(modals dropdown selectedIcon)} {
      circle {
        fill: cv('colors.main');
      }
    }
    path {
      fill: #fff;
    }
  }
}

// ohnyo
#{c(other cv settingsAttendeeCTA)}:after {
  content: 'ClearVision easter egg, please visit our server for a headpat :)';
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 1rem;
  color: hsla(0, 0%, 100%, 0.7);
  text-align: center;
  top: 130%;
  z-index: -1;
  left: 0;
}
