@use "../../classes/_classes" as *;
@use "../../backend/functions" as *;
@use "../../backend/mixins" as *;
@use "../../backend/variables" as *;

/* SETTINGS SIDEBAR */
#{c(userSettings standardSidebarView)} {
  background: transparent;
}
#{c(userSettings sidebarRegion)} {
  #{c(userSettings sidebarRegionScroller)} {
    margin: 30px 8px 30px 0;
    background: transparent;
    -webkit-mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 95%, transparent);
    mask-image: linear-gradient(to bottom, transparent, #000 5%, #000 95%, transparent);
    &::-webkit-scrollbar {
      width: 0 !important;
    }
  }
}
#{c(userSettings sidebar)} {
  height: 100%;
  width: 260px;
  padding: 0px 6px 0px 20px;
  #{c(tab side)} {
    padding: 30px 0;
  }
}
#{c(userSettings sidebar)} {
  #{c(tab header)} {
    color: cv('colors.main');
    font-weight: 700;
    padding-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:before {
      content: '';
      height: 2px;
      flex-grow: 1;
      background: linear-gradient(to left, cv('colors.main') 50%, transparent);
      margin-right: 5px;
    }
    &:after {
      content: '';
      height: 2px;
      flex-grow: 1;
      background: linear-gradient(to right, cv('colors.main') 50%, transparent);
      margin-left: 5px;
    }
    > span {
      max-width: 100%;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}
#{c(tab separator)} {
  background: hsla(0, 0%, 100%, 0.07);
  &:has(+ #{c(tab header)}) {
    display: none;
  }
}
#{c(userSettings standardSidebarView)} {
  #{c(userSettings sidebar)} {
    #{c(tab side)} {
      #{c(tab item)} {
        position: relative;
        padding: 8px 20px;
        color: var(--channel-color);
        margin: 0;
        background: transparent;
        transition: all 0.15s ease-in-out;
        cursor: pointer;
        &:before {
          opacity: 0.4;
          transition: inherit;
        }
        &:after {
          content: '';
          position: absolute;
          @include pos(0, 100%, 0, 0);
          opacity: 0.9;
          transition: all 0.3s ease-in-out;
          z-index: -1;
          pointer-events: none;
          border-radius: 4px;
        }

        // HOVER
        &:hover {
          background: hsla(0, 0%, 100%, 0.07);
          color: hsla(0, 0%, 100%, 0.7);
          &:before {
            opacity: 0.7;
          }
        }

        // SELECTED
        &#{c(tab selected)} {
          background: transparent;
          color: #fff;
          transition: all 0.15s ease-in-out, background 0.3s 0.2s;
          padding-left: 50px;
          #{c(userSettings nitroSelectedBackground)} {
            background-color: transparent;
          }
          &:before {
            opacity: 1;
          }
          &:after {
            right: 0;
            background: cv('colors.main');
            animation: cv-channel-select 0.3s ease-in-out;
          }
        }

        // // ONBOARDING STEP COUNTER
        // #{c(other cv textMediumNormal)} {
        //   color: #fff !important;
        // }
      }
    }
  }
}

// SOCIAL LINKS
#{c(userSettings sidebarSocialLinks)} {
  #{c(other cv settingsSocialLink)} {
    color: hsla(0, 0%, 100%, 0.4);
    &:hover {
      color: hsla(0, 0%, 100%, 0.7);
    }
  }
}
