@use "../../../_classes" as *;
@use "../../../backend/functions" as *;
@use "../../../backend/mixins" as *;
@use "../../../backend/variables" as *;

// SELECT
.bd-select,
.bd-select.menu-open {
  background-color: rgba(0, 0, 0, 0.5);
}
.bd-switch input:checked + .bd-switch-body {
  --switch-color: cv('colors.main');
}
// TRANSPARENCY TRIGGER
.bd-transparency {
  background: transparent !important;
}
// PLUGINS/THEMES
// Plugins/Themes Searchbar & dropdown filter
.bd-search-wrapper {
  background-color: hsla(0, 0%, 0%, 0.4) !important;
}
.bd-select {
  .bd-select-options {
    background-color: hsla(0, 0%, 0%, 0.4) !important;
    border: hidden !important;
  }
  .bd-select-option {
    &:hover {
      background-color: rgba(255, 255, 255, 0.1) !important;
    }
    &.selected {
      background-color: cv('colors.main') !important;
    }
  }
}
.bd-settings-group.collapsible .bd-settings-title::before {
  background-color: var(--interactive-normal);
}
// ADDONS
.bd-addon-list .bd-addon-card {
  background-color: hsla(0, 0%, 0%, 0.4) !important;
}

.bd-addon-list .bd-addon-header {
  background-color: hsla(0, 0%, 0%, 0.8);
}
// BUTTONS
.bd-button-filled.bd-button-color-brand,
.bd-button {
  background-color: cv('colors.main');
  &:hover {
    background-color: cv('colors.hover');
  }
  &:active {
    background-color: cv('colors.main');
  }
}
.bd-button.bd-button-icon svg {
  fill: #fff;
}
.bd-addon-views {
  .bd-view-button.selected {
    background-color: cv('colors.main');
  }
}
// SWITCH
.bd-switch input:checked + .bd-switch-body {
  background-color: cv('colors.main') !important;
}
.bd-switch-body {
  background-color: rgba(255, 255, 255, 0.15) !important;
}
.bd-switch-symbol {
  color: cv('colors.main') !important;
}
// TOAST
.bd-toast {
  background-color: cv('colors.main');
  &.toast-info {
    background-color: cv('colors.main');
  }
  &.toast-success {
    background-color: cv('colors.main');
  }
}
// LINKS
.bd-changelog-modal .bd-modal-content a,
.bd-link {
  color: var(--url-color);
}
.bd-settings-title {
  color: #fff;
}
