@use "../../../_classes" as *;
@use "../../../backend/functions" as *;
@use "../../../backend/mixins" as *;
@use "../../../backend/variables" as *;

/* Plugin & Theme Content Error */
.bd-modal-root {
  .bd-modal-footer,
  .bd-modal-header {
    background-color: transparent;
    box-shadow: none;
  }
  background-color: var(--background-overlay);
}
